<?php echo $this->formTitle('Lista de proposições'); ?>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Recursos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-action">
                    <a class="btn btn-primary" href="<?php echo $this->url(array('controller' => 'resource', 'action' => 'cadastroUrl')); ?>">
                        <i class="fa fa-file-o"></i> Novo Recurso
                    </a>
                </div>
                <div class="ibox-content"><div class="clearfix" style="height: 10px"></div>
                    Importação realizada com sucesso!
                </div>
            </div>
        </div>
    </div>
</div>
