.tabela .campo{
	background-color: #efefef;
}

.tabela .SubtituloDireita{
	width: 20%;
}

.tabela .buttons{
	background-color: #C0C0C0;
}

.tabela .buttons td{
	text-align:center;
}

.tabela .navegador{
	width:130px;
}

input[type=button]{
	cursor: pointer;
}

.tbl_conteudo{
	text-align:center;
}

.tituloLista {
    color: #000000;
    font-family: Tahoma,Arial;
    font-size: 11pt;
    font-weight: bolder;
	text-align:center;
	margin: auto auto auto auto;
	width:95%;
	background-color: #dcdcdc;
	height:25px;
	line-height:25px;
}

.tituloListaPopup{
	margin-left:20px;
	margin-right:20px;
	width:100%;
}

