<span style='color: #000'>86 frames</span>	<span style='color: #900'>3,840 KB</span>	<span style='color: #090'>165.02 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />