body {
	background-image: url("../img/bg.png");
	background-size: 2% !important;
}

.headerbar.simec {
	background-color: #0A5517;
	background-image: radial-gradient(ellipse at center center, #19882C 1%, #025310 100%);
	padding: 8px 0 10px;
}

.section-body {
	background-color: #fff;
}

.section-body.shadow {
	-webkit-box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59);
	box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59)
}

.section-body:first-child {
	margin-top: 0px;
}

#topo {
	background: url("../img/bg-topo.png") #FFF no-repeat top center;
	width: 1200px;
	box-shadow: 6px 6px 6px 0 rgba(50, 50, 50, 0.59);
	margin-left: -38px
}

.logo {
	margin: 10px 30px;
	display: block;
}

@media ( max-width : 980px) {
	#topo {
		margin-left: -112px
	}
}

@media ( max-width : 800px) {
	#topo {
		margin-left: -22px
	}
}

#step3 label.control-label {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

#step3 .form-control:focus ~ label,
#step3 .form-control.dirty ~ label {
	font-size: 16px !important;
	color: #000;
	padding-bottom: 10px;
}

#step3 textarea.form-control {
	margin-top: 5px;
}

.campo_obrigatorio{
    color: red;
}

.login-error {
	color: red;
	left: 0px;
}

.pager .disabled > button, .pager .disabled > button:hover, .pager .disabled > button:focus, .pager .disabled > span {
    cursor: not-allowed;
    background-color: #077871;
}

.checkbox .help-block {
	color: red;
    margin-bottom: -20px;
    bottom: 54px;
    left: 220px;
    width: 50%;
}

.link:hover {
	cursor: pointer;
}