/**
 * Sistema SCRUM - Arquivo de priorização de entregáveis.
 * @package simec
 * @subpackage scrum
 */
/** kanban */
#board{
    border:1px solid #cccccc;
    width:95%;
    margin:0 auto;
    overflow:auto;
    padding:0;
    background-color:#eeeeee
}
.column-title{border:1px solid #cccccc;border-top:none;background-color:#dddddd;text-align:center;color:white;
margin:0 5px 5px;padding:5px}
.column{vertical-align: top}
.col1{width:33%;border-right:1px solid #cccccc}
.col2{width:34%;border-right:1px solid #cccccc}
.col3{width:33%}
/** postits e gap de reposicionamento */
.postit,.gap{width:200px;margin:5px auto;border-width:2px}
.postit{border-style:solid;font-family:Verdana;z-index:400}
.postit .header{padding:5px;font-weight:bold;border-bottom:1px solid;overflow:auto;cursor:move}
.postit .body{height:115px}
.postit .content{border-left:3px solid;padding: 1px 3px 5px 2px;overflow:hidden;height:109px}
.postit .toolbar{height:21px;display:none;padding:2px;border-top:1px dotted}
.postit .footer{height:17px;border-top:1px dotted;padding:5px}
.gap{border-style:dotted;border-color:#ffac62;border-radius:5px;background-color:#ffd7b3;height:167px}
.postit .id {float:right}
.postit .responsavel{overflow:hidden;float:left;padding:1px;border:1px solid}
.postit .subprograma{float:left}
.postit .duracao{float:right;font-weight:normal}
.postit .loading{float:left;display:none}
.toolbar img{margin:2px;cursor:pointer}
.postit .estoria{font-weight:bold;display:block;font-size:9px;display:block;border-bottom:1px solid;
padding-bottom:2px;margin-bottom:5px}
/** Cores dos postits */
.green{background-color:#bdf4cb;border-color:#4ae371} /* Sprint atual*/
.green .header{background-color:#93eeaa;border-color:#4ae371}
.green .footer,.green .toolbar,.green .estoria{border-color:#4ae371}
.green .responsavel{background-color:#93eeaa;border-color:#4ae371}
.yellow{background-color:#f5f7c4;border-color:#dfe32d} /* Proxima sprint */
.yellow .header{background-color:#eef093;border-color:#dfe32d}
.yellow .footer,.yellow .toolbar,.yellow .estoria{border-color:#dfe32d}
.yellow .responsavel{background-color:#eef093;border-color:#dfe32d}
.blue{background-color:#dbebff;border-color:#a8cfff} /* Backlog */
.blue .header{background-color:#bbdaff;border-color:#a8cfff}
.blue .footer,.blue .toolbar,.blue .estoria{border-color:#a8cfff}
.blue .responsavel{background-color:#bbdaff;border-color:#a8cfff}
.gray{background-color:#eeeeee;border-color:#cccccc} /* Movimentando */
.gray .header{background-color:#dddddd;border-color:#cccccc}
.gray .footer,.gray .toolbar,.gray .estoria{border-color: #cccccc}
.gray .responsavel{background-color:#dddddd;border-color:#cccccc}
/** Dialog **/
.dialog .field{font-weight:bold;text-align:right}
#title-loading{float:left;margin:2px 4px 0 -5px}