/* -- Standard Tag Definitions -- */

a {
  color : #1A477E;
  text-decoration : none;
}

a:hover {
  color : #D79C2B;
}

body, html {
  background : #FFFFFF;
  color : #000000;
  font : 12px tahoma,helvetica,sans-serif;
}

form {
  margin : 0px;
  padding : 0px;
}

h1 {
  font : bold 18px tahoma, helvetica, sans-serif;
  margin : 0px;
  padding : 0px 0px 0px 3px;
}

table {
  border-collapse : collapse;
  font : 12px tahoma,helvetica,sans-serif;
}


/* -- Site layout settings for login page -- */

#bad_login {
  background : url(../images/redmond_icons/info_16.gif) no-repeat 3px;
  font-weight : bold;
  line-height : 20px;
  margin : 10px auto;
  padding-left : 24px;
  width : 235px;
}

#loginContainer {
  border : 2px solid #ccc;
  margin : 10px auto;
  width : 250px;
}

#loginContainer .logintitle {
  background : #1A477E;
  border-bottom : 2px solid #ccc;
  color : #fff;
  font : bold 14px tahoma,helvetica,clean,sans-serif;
  padding : 5px 5px 8px 15px;
  width : 230px;
}

#loginContainer .input {
  font-weight : bold;
  margin : 0px auto;
  padding : 10px;
}

#loginContainer .input input {
  width : 150px;
}

#loginSubmit {
  margin : 10px auto;
  text-align : right;
  width : 250px;
}


/* -- Header -- */

#header {
  text-align : center;
}

#header .links {
  border : 1px solid #000000;
  margin : 0 auto;
  text-align : left;
  width : 700px;
}

#header .links td a {
  display : block;
  width : 100%;
}

#header .links td {
  background : #EEEEEE;
  border : 1px solid #000000;
  font-weight : bold;
  padding-left : 5px;
}

/* -- Main -- */

#main {
  text-align : center;
}

#main .error td {
  background : #FFCC66 url(../admin/images/icons/icon_error.gif) no-repeat 5px;
  font-weight : bold;
  height : 20px;
  padding-left : 35px;
}

#main .messages, #main .input, .newsletters, .verify, .error, .title {
  border : 1px solid #000000;
  margin : 0 auto;
  text-align : left;
  width : 700px;
}

#main .messages td {
  background : #FCF6CF;
  padding-left : 5px;
}

#main .input td {
  background : #FEFEF2;
  padding-left : 5px;
}

#main .input .text_input {
  width : 250px;
}

#main .newsletters th {
  background : #AACCEE;
  border : 1px solid #000000;
  font-weight : bold;
  padding-left : 5px;
  text-align : left;
}

#main .newsletters td {
  border : 1px solid #000000;
  padding-left : 5px;
}

#main .newsletters td {
  border : 1px solid #000000;
  padding-left : 5px;
}

#main .submit {
  margin : 0 auto;
  text-align : right;
  width : 700px;
}

#main .verify td {
  border : 1px solid #000000;
  padding-left : 5px;
}

#main .verify th {
  background  : #FCF6CF;
  border : 1px solid #000000;
  padding-left : 5px;
}

#main .title td {
  background : #eee;
  font-weight : bold;
  padding-left : 5px;
}


/* -- Footer -- */

#footer {
  margin : 10px auto;
  text-align : center;
  width : 100%;
}

/* -- Login -- */

#login {
  margin : 20px 0px 20px 0px;
}

#login .bad_login {
  margin : 0 auto;
}

#login .bad_login td {
  background : url(../admin/images/icons/icon_error.gif) no-repeat;
  font-weight : bold;
  line-height : 20px;
  padding-left : 28px;
}

#login .logintitle {
  background : #1A477E;
  color : #FFFFFF;
  font-size : 14px;
  font-weight : bold;
  text-align : left;
}

#login .input {
  margin : 10px 0px 10px 0px;
  text-align : right;
}

/* -- Header -- */

#header_admin .top {
  border : 1px solid #7B9EBD;
  width : 100%;
}

#header_admin .top td {
  padding : 5px;
  vertical-align : middle;
}

#header_admin .top .groups {
  text-align : right;
}

#header_admin .bottom {
  background : #295C7D;
  border : 1px solid #295C7D;
  width : 100%;
}

#header_admin .bottom td {
  color : #FFFFFF;
  padding : 5px;
  vertical-align : middle;
}

#header_admin .bottom .site_select {
  text-align : right;
}

#header_admin .bottom .description {
  color : #FFFFFF;
  font : 110% georgia,times new roman,serif;
}

/* -- Body -- */

#container_admin {
  text-align : center;
}

#main_admin {
}

#main_admin .title, #main_admin .body {
  border : 1px solid #000000;
  margin : 0 auto;
  text-align : left;
  width : 100%;
}

#main_admin .title td, #main_admin .body td {
  border : 1px solid #000000;
  margin : 0 auto;
}

#main_admin .title td {
  background : #FFFFCC;
  font-weight : bold;
  padding-left : 5px;
}

#main_admin .body th {
  background : #FFFFCC;
  font-weight : bold;
  padding-left : 5px;
}

#main_admin .body td {
  font-weight : bold;
  padding-left : 5px;
}

#main_admin .submit {
  margin : 0 auto;
  padding-right : 5px;
  text-align : right;
}

/* -- Table -- */

#main_admin .tbl {
  text-align : left;
  width : 100%;
}

#main_admin .tbl .title {
  background : #ace;
  font-weight : bold;
}

#main_admin .tbl .link {
  font-weight : bold;
  width : 10%;
}

#main_admin .tbl .link a {
  display : block;
  width : 90px;
}

#main_admin .tbl .message {
  background : #eca url(../admin/images/icons/icon_error.gif) no-repeat 3px;
  font-weight : bold;
  line-height : 20px;
  padding : 0px 0px 0px 30px;
  vertical-align : middle;
}

#main_admin .tbl th {
  background : #FFFFCC;
  border : 1px solid #333333;
  font-weight : bold;
  padding : 2px 0px 2px 5px;
  text-align : left;
}

#main_admin .tbl .search {
  text-align : right;
  width : 200px;
}

#main_admin .tbl .form_field {
  vertical-align : top;
  width : 150px;
}

#main_admin .tbl .submit {
  text-align : right;
}

#main_admin .tbl td {
  border : 1px solid #333333;
  padding : 2px 5px 2px 5px;
}

.redtext {
  color : #FF0000;
}

.pagelinkslink {
  cursor : pointer;
  width : 100%;
}

.row_highlight {
  background : #B8CDDC;
  cursor : pointer;
}

.row_click {
  background : #FFF000;
  cursor : pointer;
}

.emailvars {
  font-weight : bold;
  text-align : left;
}

.tbltitle {
  border : 1px solid #000000;
  background : #ace;
  margin : 0 auto;
  text-align : left;
}

.divNews {
  float : left;
  width : 95%;
}

.divExport {
  float : left;
  width : 5%;
}

form fieldset{
	background-color:#FFFDEF;

	border-width:2px;
	border-style:solid;
	border-color:#9F903B;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	margin:20px 0px 20px 0px;
	width:350px;
	position:relative;
	display:block;
	padding: 0px 10px 10px 10px;
}

form fieldset legend{
	background-color:#FFF7CE;

	border-width:1px;
	border-style:solid;
	border-color:#DFD391;

	color:#000000;
	font-weight:bold;
	font-size:110%;

	padding:2px 5px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;

}

form fieldset legend img{
	padding:0px 5px 0px 5px;
}

label{
	display:block;
	width:120px;
	text-align:right;
	margin:6px 15px 0px 0px;
}

table{
	font-size: 90%;
}

caption{
  color: #222299;
  text-align: left;
  padding-bottom: 10px;
  top: 0px;
  margin-top: 0px;
}

.button{
	background-color:#FFF7CE;
  cursor: pointer;
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	color:#000000;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;

}