.error {
	background-color: yellow;
}
caption {
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-family: Verdana;
	font-size: 100%
}

table.sheet tr.hover {
	background-color: #fcc;
}

table.sheet tr.high {
	background-color: #f99;
}

table td .prio {
	text-align: center;
}

table td .prio span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	text-align: center;
	padding: 2px 4px 1px 4px;
	width: 14px;
}

#container {
    text-align : center;
}

#login .bad_login {
    background   : url("../images/redmond_icons/info_16.gif") no-repeat 3px;
    font-weight  : bold;
    line-height  : 20px;
    margin       : 0 auto;
}

#login .bad_login td {
    padding : 10px 23px;
}

#login .login_box {
    background : url("../images/login/bg.gif");
    margin     : 0 auto;
}

#login .logintitle {
    background  : #1A477E;
    color       : #FFFFFF;
    font-size   : 14px;
    font-weight : bold;
    text-align  : left;
}

#login .input {
    margin     : 10px 0px 10px 0px;
    text-align : right;
}

#login .top_button {
    background     : url("../images/login/b.gif");
    text-align     : right;
    vertical-align : bottom;
}

#login .bottom_button {
    background     : #fff;
    text-align     : right;
    vertical-align : top;
}


/* Start Title */

#header .top {
    border  : 1px solid #7B9EBD;
    width   : 100%;
}

#header .top td {
    padding        : 5px;
    vertical-align : middle;
}

#header .top .groups {
    text-align : right;
}

#header .top img, #header .top .groups img {
    vertical-align : top;
}

#header .bottom {
    background : #295C7D;
    border     : 1px solid #295C7D;
    width      : 100%;
}

#header .bottom td {
    color          : #FFFFFF;
    padding        : 5px;
    vertical-align : middle;
}

#header .bottom .site_select {
    text-align : right;
}

#header .bottom .description {
    color      : #FFFFFF;
    font       : 110% georgia,times new roman,serif;
}


/* Start Navigation */

#navigation {
    width : 125px;
}

.navigation {
    background-color : #EEEEEE;
    border           : 1px solid #7B9EBD;
    padding          : 5px 0px 5px 5px;
    vertical-align   : top;
}

.navigation .title {
    font-weight : bold;
}


/* Start Main Body */

.main_body {
    border         : 1px solid #7B9EBD;
    padding        : 5px;
    vertical-align : top;
    width          : 100%;
}


/* Start Footer */

#footer .footer {
    background : #295C7D;
    border     : 1px solid #7B9EBD;
    width      : 100%;
}

#footer td {
    padding    : 5px;
}

#footer .footer .site_select {
    text-align : right;
}


/* Start Table Definitions */

.tbl {
    width : 100%;
}

.tbl .title {
    background  : #ace;
    font-weight : bold;
}

.tbl .link, .link50 {
    font-weight : bold;
    width       : 10%;
}

.tbl .link a {
    display    : block;
    width      : 90px;
}

.tbl .link50 a {
    display    : block;
    width      : auto;
}

.tbl .message {
    background     : #eca url("../images/redmond_icons/info_16.gif") no-repeat 3px;
    font-weight    : bold;
    line-height    : 20px;
    padding        : 0px 0px 0px 25px;
    vertical-align : center;
}

.tbl th {
    background  : #FFFFCC;
    border      : 1px solid #333333;
    font-weight : bold;
    padding     : 2px 0px 2px 5px;
    text-align  : left;
}

.tbl .search {
    text-align : right;
    width      : 200px;
}

.tbl .form_field {
    vertical-align : top;
    width          : 150px;
}

.tbl .submit {
    text-align : right;
}

.tbl td {
    border  : 1px solid #333333;
    padding : 2px 5px 2px 5px;
}

.tbl .sts0 {
	background : #EEE;
    cursor     : pointer;
	width      : 8px;
}

.tbl .sts1 {
	background : #EEE42F;
    cursor     : pointer;
	width      : 8px;
}

.tbl .sts2 {
	background : #FFB81E;
    cursor     : pointer;
	width      : 8px;
}
.tbl .sts3 {
	background : #F59427;
    cursor     : pointer;
	width      : 8px;
}
.tbl .sts4 {
	background : #FF6700;
    cursor     : pointer;
	width      : 8px;
}
.tbl .sts5 {
	background : #390;
    cursor     : pointer;
	width      : 8px;
}

span.pr0 {
	background-color: #bbb;
}

span.pr1 {
	background-color: #c00;
}

span.pr2 {
	background-color: #f93;
}

span.pr3 {
	background-color: #393;
}

span.pr4 {
	background-color: #39c;
}

span.pr5 {
	background-color: #999;
}


/* Start Unique Classes */

.selected {
    background : #eca;
}

tr.row_highlight {
    background-color : #B8CDDC;
    cursor           : pointer;
}

tr.row_click {
    background-color : #FFF000;
    cursor           : pointer;
}

.redtext {
    color : #ff0000;
}

/* IMPORTED FROM PHPSHOP */
.item_div{
	position: relative;
	width: 500px;
	height: 160px;
	margin-bottom: 20px;
	padding: 15px;
	font-size: 80%;
	left: 10px;
	text-align: left;
}

.details_div{
	position: relative;
	float: left;
	width: 280px;
	margin-left: 20px;
}

.image_div{
	position: relative;
	float: left;
	text-align: center;
}

.photo_div{
	position: relative;
}

.enlarge_div{
	position: relative;
}

.enlarge_div img{
	cursor: pointer;
	cursor: hand;
}


.name_div, .price_div, .size_div, .add_div, .qty_div, .stock_div, .description_div{
	position: relative;
	margin-bottom: 20px;
}

.fabricsamples_div{
	cursor: hand;
	cursor: pointer;
	margin-bottom: 20px;
}
/*
.description_div{
	position: relative;
	margin-bottom: 0px;
	float: left;
	text-align: justify;
}
*/
.item td{
	padding: 5px;
	border: 0px gray solid;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.item th{
	background-color: #DFEEFF;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

tr.item td{
	border-bottom: 1px dashed #BBBBBB;
}

.even {
	background-color: #FFFFFF;
}

.odd {
	background-color: #FFFFFF;
}

.item table{
	border-collapse: collapse;
}

tr.itemrow{
	cursor: hand;
	cursor: pointer;
}

td.itemcell{
	padding: 4px;
	text-align: left;
}

.gap{
    margin-top: 5px;
}