.msg-info,.msg-success,.msg-warning,.msg-error{
border:1px solid;margin:10px auto;padding:15px 5px 15px 50px;background-repeat:no-repeat;
background-position:10px center}
.msg-info{color:#00529b;background-color:#bde5f8;background-image:url('images/info.png')}
.msg-success{color:#4f8a10;background-color:#dff2bf;background-image:url('images/success.png')}
.msg-warning{color:#9f6000;background-color:#feefb3;background-image:url('images/warning')}
.msg-error{color:#d8000c;background-color:#ffbaba;background-image:url('images/error.png')}
.filtroWs{display:none}