/**
 * CSS adicional da classe Simec_Listagem.
 * @version $Id: listagem.css 100597 2015-07-29 18:00:57Z maykelbraz $
 */

table.tabela-listagem thead span.glyphicon{cursor:pointer}
table.tabela-listagem thead .glyphicon-arrow-down{color:#31B404}
table.tabela-listagem thead .glyphicon-arrow-up{color:#B43104}
table.tabela-listagem thead th,table.tabela-listagem tbody td,table.tabela-listagem tfoot td{text-align:center}
table.tabela-listagem.table-listagem-filtrando{
border-color:#66afe9;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);outline:0 none}
table.tabela-listagem.table-listagem-filtrando,
table.tabela-listagem.table-listagem-filtrando>thead{border:1px solid #66afe9 !important}
table.tabela-listagem.table-listagem-filtrando>thead>tr>th:first-child,
table.tabela-listagem.table-listagem-filtrando td:first-child{border-left:1px solid #66afe9 !important}
table.tabela-listagem.table-listagem-filtrando>thead>tr>th:last-child,
table.tabela-listagem.table-listagem-filtrando td:last-child{border-right:1px solid #66afe9 !important}
table.tabela-listagem.table-listagem-filtrando>tfoot td{border-bottom:1px solid #66afe9 !important}
.listagem-remover{display:none}
.listagem-marcado{background-color:#C1FFC1!important}
.tabela-listagem .popover-content table td{padding:3px!important}
.tabela-listagem .popover.right .arrow{top:35px!important}
.tabela-listagem .popover-title{text-align:center}
.tabela-listagem td{vertical-align:middle!important}
.popover{z-index:100000000}
.navbar-listagem{margin-bottom:2px;padding-left:5px}
.modal-lg{width:70%!important}