@charset "utf-8";
/* CSS Document */

body{
	text-align:center; /* hack para o IE */ 
}

#logo{
	background:url("../images/logo_bg.png") no-repeat center;
	float:left;
	height:80px;
	width:269px;
}

#logo img{
	margin-left: 10px;
}

.input_login{
	border:none;
	padding:1px 0 0 5px;
	color:#006699;
	vertical-align:middle;
	height: 18px;
	background:url("../images/input_bg.gif") repeat-x bottom;
}
.login_bt{
	vertical-align:middle;
	cursor:pointer;
	background:url(../images/bt_ok.png) no-repeat center;
	border:none;
	height:22px;
	width:22px;
	
}
.login_bt:hover{
	background:url(../images/bt_ok_on.png) no-repeat center;	
}


/* Menu em Abas*/
#menu {
	min-width:700px;
	height: 27px;
	display: table;
	position:relative;
	margin:0 0 -1px 250px;
	*margin:0 0 0 250px;

  }
#menu ul {
  margin:0;
  padding:0px 0px 0;
  list-style:none;
  }
#menu li {
  float:left;
  background:url("../images/aba_off_esq.png") no-repeat left top;
  margin:0;
  padding:0 0 0 20px;
  }
#menu a {
  float:left;
  display:block;
  background:url("../images/aba_off_dir.png") no-repeat right top;
  padding:5px 21px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#3677a3;
  }
   
  
/* hack IE-Mac \*/
#menu a {float:none;}
/* fim hack IE-Mac */
#menu a:hover {
  color:#333;
  }
#menu .aba_on {
  background-image:url("../images/aba_on_esq.png");
  }
#menu .aba_on a {
  background-image:url("../images/aba_on_dir.png");
  color:#3677a3;
  padding-bottom:5px;
  }



/*background ferramentas*/
#ferramentas{
	background:#f0f7ff;
	color:#3677a3;
	height:28px;
	width:97%;
	padding: 8px 0 0px 15px;
	text-align:right;
	margin: 0 auto;
	margin-bottom: 10px;
	cursor:pointer;
}

#titulo{
	font-size: 30px;
	float:right;
	z-index:2;
	color:#FFFFFF;
	font-weight: bold;
	text-align: right;
	margin-right:10px
}

#conteudo{
	background-color: #FFFFFF;
	text-align:center;
	padding-bottom:10px;
	width:98%;
	margin: 0 auto;
}

#rodape{
	font: 12px Trebuchet Ms, Arial, Tahoma, Verdana, Helvetica, Sans-Serif;
	background:#f0f7ff;
	color:#3677a3;
	height:28px;
	width:97%;
	padding: 8px 0 0px 15px;
	text-align:center;
	margin: 0 auto;
	margin-top: 10px;
}

#topo{
	height: 70px;
}

#curvas_topo{
	width:98%;
	margin:0 auto;
	margin-top:45px;
	height: 4px;
}

#geral_top_esq {
	width:100%;
	background:url(../images/top_bg_esq.png) no-repeat left ;
	float:left;
}

#geral_top_dir{
	background:url(../images/top_bg_dir.png) no-repeat right ;
	height:4px;
	float:right;
	width:98%;
}

#curvas_rodape{
	width:98%;
	margin:0 auto;
	height: 4px;
	margin-bottom:15px;
}

#geral_rodape_esq {
	background:url(../images/base_bg_esq.png) no-repeat left ;
	float:left;
	height:4px;
	width:98%;
}

#geral_rodape_dir{
	background:url(../images/base_bg_dir.png) no-repeat right ;
	float:right;
	width:2%;
	height:4px;
}