.x-icon {
    cursor:pointer;
}
.row-add {
    color:green;
}
.row-del {
    color:red;
}
#flash-notice {
    padding: 20px;
    width: 650px;
    height: 5px;
    border: 7px solid #333;
    background: #fff;
    line-height: 5px;
    position: fixed;
    z-index: 10000;
}