/*Drag adn Drop Google*/

.conteudo_flutuante{
	width:100%; 
}

.groupWrapper
{
	width: 33%;
	float: left;
	margin-right:4px;
	min-height: 50px;
}
		
.groupItem
{
	margin-bottom: 20px;
	border: #e0e0e0 solid 2px;
}

.groupItem .itemHeader
{
	line-height: 20px;
	background-color: #e0e0e0;
	color: #000;
	cursor: move;
	font-weight: bold;
	font-size: 12px;
	height: 20px;
	position: relative;
	width: 100%;
}

.groupItem .itemHeader a
{
	position: absolute;
	right: 10px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.sortHelper
{
	border: 3px dashed #666;
	width: auto !important;
}
.groupWrapper p
{
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}
.itemContent{
	overflow: auto;
	width: 100%;
}
.edit{
cursor: pointer;
float:right;
font-size:12px;
font-weight:normal;
padding-right: 30px;
padding-top: 5px;
}
.edit img{width:12px ; height:10px; border: #000000 solid 1px}

img .globo{
	width:120px; 
	height:120px;
	
}

.editar{
	font-size:12px;
	width: 100%;
	border-top: #000000 solid 1px;
	background-color: #DFDFDF;
	cursor: default;
}
.closeEl{
	padding-top: 5px;
}
.closeEl img{
	width:12px ; height:12px; border: none;
}

.TituloCombo{
	float:left;
	padding-left: 10px;
}

.Ferramentas{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;	
}



.jqHandle {
   background: red;
   height:15px;
}

.jqDrag {
  width: 100%;
  cursor: move;
}

.jqResize {
   width: 15px;
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: se-resize;
}

.jqDnR {
    z-index: 3;
    position: relative;
    
    width: 180px;
    font-size: 0.77em;
    color: #618d5e;
    margin: 5px 10px 10px 10px;
    padding: 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
}
