	.fot{
		text-transform: uppercase; 
		font-family: arial black; 
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		}
	.lista{
		font-size: 11px;
		padding: 3px;
		border-top: 2px solid #000;
		border-collapse: collapse;
	}
	.lista1{
		font-size: 11px;
		padding: 3px;
		border-top: 2px solid #000;
		border-collapse: collapse;
	}
	table.lista td{
		border-style: solid;
		border-width: 1px;
		border-color: #000;
		border-collapse: collapse;
	}
	.folha {
    	page-break-after: always;
	}
	
	.textoAnexo1{
		font-family: arial; 
		font-size: 12px; 
		text-align: justify;
		padding-left: 18px;
		padding-right: 18px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-weight: bold;
	}
	
	.sembordaBaixa{
		border-bottom: none;
	
	}
	
	table.lista td.dtSemBorda{
		border: none;
		border-top: none;
		border-bottom: none;
		border-style: none;
		border-width: 0px;
	}
	
	.caixa{
		border: 1px solid;
		border-color: #000;
		background-color: white;
		height: 25px;
	}
	
	@media print {.notprint { display: none } .div_rolagem{display: none} }	
	@media screen {.notscreen { display: none; }
	
	.div_rolagem{ overflow-x: auto; overflow-y: auto; height: 50px;}