<h1>HTML to Word Converter</h1>
<p>This is an example file - written in HTML - to give some examples of what this converter can do.</p>
<p>Typically you might use this converter to convert the HTML output of a WYSIWYG editor - such as TinyMCE. It is not intended to produce an accurate version of complex web page layouts, rather to produce a user-friendly Word document that people can easily edit with Word (in contrast to the horrible results you often get by copying and pasting from a web page into Word).</p>
<h2>This is a heading (h2)</h2>
<p>This is a paragraph. We can format text within paragraphs, divs and table cells, e.g. with <strong>bold</strong>,
<em>italic</em>, <span style=
"text-decoration: underline;">underline</span>.&nbsp;</p>
<p>Note that headings can be constructed with some text followed by an empty line (as in the heading at the top), or with line spacing set between the heading and the following text (as with the heading for this part of the document). This can also be applied to paragraphs and divs.</p>
<h2>Lists</h2>
<p>This converter uses "pseudo lists" - these are paragraphs formatted to look like Word lists. This has been done to allow pieces of text within the list to be styled (doesn't appear to be possible with PHPWord - you can only style entire list elements. This converter is not currently set up to make PHPWord lists - this is a "to do"!</p>
<p>Currently only psuedo lists are available.</p>
<h3>Bulleted:</h3>
<ul>
  <li>Point 1</li>
  <li>Point 2</li>
  <li>Point 3</li>
</ul>
<h3>Numbered:</h3>
<ol>
  <li>Item 1 - we can <b><i>style</i></b> things in these lists</li>
  <li><span class="purple">A purple item</span></li>
  <li><span class="purple green">Two classes - green wins out!</span></li>
</ol>
<h2>Tables</h2>
<p>You can insert a table:</p>
<table>
  <tbody>
    <tr>
      <td width=300><b>Column 1</b></td>
      <td width=300><b>Column 2</b></td>
      <td width=300><b>Column 3</b></td>
    </tr>
    <tr>
      <td>Here's some data.</td>
    </tr>
  </tbody>
</table>
<p>You need to specifiy the width of the image in the tag
  (height=y width=x) and this is in pixels - or you will get the default size as determined by PHPWord. Converting at 15 TWIPS
per pixel.</p>
<p>You can't nest tables though - but the converter will try and do something sensible with any nested tables it finds:</p>
<table>
  <tbody>
    <tr>
      <th width=450><b>Heading 1</b></th>
      <th width=450><b>Heading 2</b></th>
    </tr>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td><b>Nested Col 1</b></td>
              <td><b>Nested Col 2</b></td>
              <td><b>Nested Col 3</b></td>
            </tr>
            <tr>
              <td>Nested data 1</td>
              <td>Nested data 2</td>
              <td>Nested data 3</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>Data col 2</td>
    </tr>
  </tbody>
</table>
<p>If the converter finds an element it doesn't understand or
  which is in the wrong place or can't be rendered by PHPWord, the
inner text of the element is returned instead.</p>

<h3>A Link</h3>
<p>Link to <a href="http://www.duckduckgo.com">DuckDuckGo</a>!</p>

<h3>Special Characters</h3>
<ul>
<li>"copyright": &copy;</li>
<li>"and": &amp;</li>
<li>"greater than": &gt;</li>
</ul>
