body
	{
		font-family: sans-serif;
	}
	#geral
	{
		margin: 10px 10px 10px 10px;		
	}
	#geral #capa 
	{
		font: bold;
		text-align: center;
		vertical-align: middle;
	}
	#geral #capa .topo 
	{
		height: 9cm;
		font-size: 18px;
	}
	#geral #capa .meio
	{
		height: 14cm;
		font-size: 20px;
	}
	#geral #capa .rodape
	{
		height: 1cm;
		font-size: 14px;
	}
	#geral #conteudo{}
	#geral #conteudo h1
	{
		font-size: 18px;
		margin-left: 15px;
		list-style: decimal;
		margin-bottom: 30px;
	}
	#geral #conteudo h2
	{
		font-size: 16px;
		margin-left: 30px;
	}
	#geral #conteudo .texto
	{
		font-size: 12px;
		text-align: justify;
	}
	#geral #conteudo .texto ul
	{
		line-height: 30px;
		list-style: disc;
		margin-left: 40px;
		font-size: 12px;
	}
	#geral #conteudo p
	{
		font-size: 12px;
		text-indent: 60px;
		white-space: normal;
		line-height: 30px;
	}
	#geral #conteudo .textoTabela
	{
		font-size: 12px;
	}
	#geral #conteudo .tabela
	{
		font-size: 12px;
		width: 100%;
	}
	#geral #conteudo p
	{
		margin: 10px 10px 10px 10px;
	}
	#relatorioPar tr td
	{
		font-size: 10px;
	}