
#cabecalhoSistema{
	width:95%;
	margin:0 auto;
}

#container{
	width:95%;
	min-width:540px;
	margin:0 auto;
	margin-top:20px;
}

#local-mapa{
	width:80%;
	min-width:600px;
	float:left;
}

#formularioFiltros{
	width:95%;
	padding-top:15px;
	margin:0 auto;
}

#map_canvas{
	border:4px solid #fff;
	width:100%;          
	height:600px;
	position:relative;
}

#map_canvastxt{
	float:left;
	margin-left:15px;
	font-size:18px;
	font-weight:bold;
}

#formularioDeCadastro{
	margin-top:40px;
}

.select100{
	width: 100%;
}

#menu_sistema{
	width:95%;
	margin:0 auto;
}

#menu{
	clear:both;
	height:40px;
	line-height: 40px;
}

#footer{
	height:20px;
}

#tituloLegenda{
	width:90%;
}
#legendaMapa{
	float:left;
	width:20%;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding-top:40px;
	text-align:left;
	margin:0px;
}

#legendaMapaContainer{
	float:right;
	border-radius: 3px;
	padding:5px;
	border:1px solid #ccc;
	margin-left:20px;
	width:93%;

}

#legendaMapa ul{
	width:90%;
	min-width:140px;
	margin:0px;
	padding:0px;
	padding-top:5px;
	padding-bottom:5px;
}

#legendaMapa ul li{
	font-size:11px;
	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
	margin-bottom:10px;
	padding:0px;
	text-align:left;
}

#legendaMapa ul li span{
	border:2px solid #000;
}

.elementoCor{
	width:5px !important;
	height:5px !important;
	border:1px solid !important;
	/*margin:3px;*/
}

@media (max-width: 1000px){
	.coluna_esquerda{
    	width:0px;
	}
}

