
a{
	cursor:pointer;
}

#cabecalhoSistema{
	width:80%;
	margin:0 auto;
}

#conteudo-sase{
	height:560px !important;
}

#container{
	width:100% !important;
	margin:0px !important;
	border:none !important;
}

.panel{
	border:none !important;
	margin:0px !important;
}
.panel-default{
	border:none !important;
	/*width:820px !important;*/
	width:100% !important;
	margin:0px !important;
}
.panel-body{
	/*width:820px !important;*/
	width:100% !important;
	margin:0px !important;
	padding:0px !important;
	border:none !important;
}

#formularioFiltros{
	width:90%;
	margin:0 auto;
}

#map_canvas{
	border:4px solid #fff;
	width:800px;
	height:570px;
	position:relative;
	margin:0 auto;
}

#map_canvastxt{
	float:left;
	margin-left:0px;
	margin-top:8px;
	line-height: 28px;
	font-size:18px;
	font-weight:bold;
}

#formularioDeCadastro{
	margin-top:40px;
}

.select100{
	width: 100%;
}

#menu_sistema{
	width:80%;
	margin:0 auto;
}

#menu{
	clear:both;
	height:30px;
	width:90% !important;
	text-align:left;
	margin:0 auto;
	padding:0px !important;
	line-height: 30px;
}

#footer{
	height:20px;
}

#tituloLegenda{
	width:100%;
	padding-top:4px;
	margin:0px !important;
}
#legendaMapa{
	float:right;
	border:1px solid #ccc;
	padding-left:4px;
	padding-bottom:4px;
	padding-right:4px;
	padding-top:0px;
	text-align:left;
	margin:0px;
	border-radius: 3px;

	position: relative;
	z-index: 4;
	background-color: #fff;
}

.legendaMapaAlternativo{
	background:none !important;
	border:none !important;
}

#legendaMapa h5{
	font-size:17px !important;
	margin:2px !important;
	margin-left:8px !important;
	font-weight:normal;
}

#legendaMapa ul{
	width:100%;
	margin:0px;
	padding:0px;
	padding-top:5px;
	padding-bottom:5px;
}

#legendaMapa ul li{
	font-size:11px;
	margin-left:10px;
	margin-right:0px;
	margin-top:5px;
	margin-bottom:10px;
	padding:0px;
	text-align:left;
}

.elementoCor{
	width:5px !important;
	height:5px !important;
	border:1px solid #000;
}

@media (max-width: 1000px){
	.coluna_esquerda{
    	width:0px;
	}
}

/* LEGENDA -------------------------------------------- */

#legendaConteudo ul{
	list-style: none;
	margin:0px;
	padding:0px;
}
	#legendaConteudo ul li{
		padding:0px !important;
		margin:0px !important;
	}
	#legendaConteudo ul li table tr{
		height:10px;
		margin:0px;
		padding:0px;
	}
	#legendaConteudo ul li table tr td{
		font-size:10px !important;
	}
	#legendaConteudo ul li table tr td.dsc{
		width:180px;
	}

/* ---------------------------------------------------- */

/* BOOTSTRAP OFF -------------------------------------------- */

.topo_bootstrap_off{
	font-weight:normal;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* ---------------------------------------------------- */


/* Componentes -------------------------------------------- */

/* ---------------------------------------------------- */
