

/* Grids --------------------------------------------------- */
/* Page Divisions and Margins
----------------------------------------------- */

.row {overflow:hidden;}
.column {float:left;}
.content {padding:0 7px;}
.content2 {padding:0 7px;}


/* Column Widths
----------------------------------------------- */
.col1of1 {float:none;}
.col1of2 {width:50%;}
.col1of3 {width:33.33333%;}
.col2of3 {width:66.66666%;}
.col1of4 {width:25%;}
.col3of4 {width:75%;}
.col1of5 {width:20%;}
.col2of5 {width:40%;}
.col3of5 {width:60%;}
.col4of5 {width:80%;}
.col1of6 {width:16.66666%;}
.col5of6 {width:83.33333%;}
.col1of7 {width:14.285714285%;}
.col2of7 {width:28.571428571%;}
.col3of7 {width:42.857142857%;}
.col4of7 {width:57.142857142%;}
.col5of7 {width:71.428571428%;}
.col6of7 {width:85.714285714%;}
.col1of8 {width:12.5%;}
.col3of8 {width:37.5%;}
.col5of8 {width:62.5%;}
.col7of8 {width:87.5%;}
.col1of9 {width:11.111111111%;}
.col2of9 {width:22.222222222%;}
.col3of9 {width:33.333333333%;}
.col4of9 {width:44.444444444%;}
.col5of9 {width:55.555555555%;}
.col6of9 {width:66.666666666%;}
.col7of9 {width:77.777777777%;}
.col8of9 {width:88.888888888%;}
.col1of10 {width:10%;}
.col3of10 {width:30%;}
.col7of10 {width:70%;}
.col9of10 {width:90%;}
.col1of12 {width:8.333333333%;}
.col5of12 {width:41.666666666%;}
.col7of12 {width:58.333333333%;}
.col11of12 {width:91.666666666%;}
.col1of16 {width:6.25%;}
.col3of16 {width:18.75%;}
.col5of16 {width:31.25%;}
.col7of16 {width:43.75%;}
.col9of16 {width:56.25%;}
.col11of16 {width:68.75%;}
.col13of16 {width:81.25%;}
.col15of16 {width:93.75%;}
/* End Grids ----------------------------------------------- */

/* Layout -------------------------------------------------- */


.wrapper {margin: 0 auto; width: 1000px;}
.borda{margin: 0px;}
.container{margin: 0 auto; width: 990px;}

#branding h1 {font-size:5em; margin-bottom:0;}
#branding .content {border:none; padding-top:0;}
#show_grid {font-size:1.5em;}
#header .col1of5 .content {padding-top:28px; text-align:right; padding-right:36px;}

.head h3 {margin-top:18px; margin-bottom:0;}
.column .content {padding-top:18px;}
.col1of1 .content,
.lastColumn .content {border-right:none;}
.row {margin-top:-1px;}

.txtIndent {display: block; overflow: hidden; text-indent: -9999px;}
.page .marca {background: none repeat scroll 0 0 transparent; height: 51px; left: 0; margin: 20px 0 0 5px; position: absolute; top: 0; width: 286px;}
.page .marca h1.simec {margin-top: -3px;}
.page .marca h1.simec a {background: url("../images/logo_simec.png") no-repeat scroll 0 0 transparent; cursor: pointer; float: left; height: 59px; margin: 8px 0 0; width: 266px;}
.page .atualizar{float:right; width:44px; height:67px; background: url("../images/bt_atualizar.png") no-repeat scroll 0 0 transparent; cursor: pointer;}
.page .img_monitoramento{width:980px; height:138px; background: url("../images/img_monitoramento.png") no-repeat scroll center top transparent; cursor: pointer;  margin: -15px 0 0 0;}
.page .ed_basica{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #66c010; margin:0 0 7px 0;}
.page .ed_profissional{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #e1a217; margin:0 0 7px 0;}
.page .ed_superior{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #dabd00; margin:0 0 7px 0;}
.page .agenda{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #2B86EE; margin:0 0 7px 0;}
.page .eb_programa{background:#66c010; width:316px; height:90px; margin:0 0 7px 0;}
.page .ep_programa{background:#e1a217; width:316px; height:90px; margin:0 0 7px 0;}
.page .es_programa{background:#dabd00; width:316px; height:90px; margin:0 0 7px 0;}
.page .ag_programa{background:#2B86EE; width:316px; height:90px; margin:0 0 7px 0;}
.page .eb_programa .img_programa, .page .ep_programa .img_programa, .page .es_programa .img_programa, .page .ag_programa .img_programa{width:316px; height:67px;}
.page .eb_programa .txt_programa, .page .ep_programa .txt_programa, .page .es_programa .txt_programa, .page .ag_programa .txt_programa{background: url("../images/icones.png") no-repeat scroll 0 -37px transparent; color: #FFFFFF; float: right; font-size: 1.2em; padding: 5px 4px 0 20px; height:16px; *height:23px; *padding:0px 4px 0 20px;}
.sem_acesso{width:316px; height:67px;opacity:0.2;cursor: default; }
