/* Reset ----------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}
/* End Reset ----------------------------------------------- */

/* Tipografia ---------------------------------------------- */
body {font: 12px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;}
a:focus {outline: 1px dotted invert;}
strong, b {font-weight: bold;}
h1 {font-size: 60px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 12px;}
ol {list-style: decimal;}
ul {list-style: square;}
li {margin-left: 30px;}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset{margin-bottom: 18px;}
/* End Tipografia ------------------------------------------ */

/* Grids --------------------------------------------------- */
/* Page Divisions and Margins
----------------------------------------------- */
.page {margin:0 18px;}
.head {padding:0 18px;}
.section {overflow:hidden;}
.row {overflow:hidden;}
.column {float:left;}
.content {padding:0 7px;}
.content2 {padding:0 7px;}


/* Column Widths
----------------------------------------------- */
.col1of1 {float:none;}
.col1of2 {width:50%;}
.col1of3 {width:33.33333%;}
.col2of3 {width:66.66666%;}
.col1of4 {width:25%;}
.col3of4 {width:75%;}
.col1of5 {width:20%;}
.col2of5 {width:40%;}
.col3of5 {width:60%;}
.col4of5 {width:80%;}
.col1of6 {width:16.66666%;}
.col5of6 {width:83.33333%;}
.col1of7 {width:14.285714285%;}
.col2of7 {width:28.571428571%;}
.col3of7 {width:42.857142857%;}
.col4of7 {width:57.142857142%;}
.col5of7 {width:71.428571428%;}
.col6of7 {width:85.714285714%;}
.col1of8 {width:12.5%;}
.col3of8 {width:37.5%;}
.col5of8 {width:62.5%;}
.col7of8 {width:87.5%;}
.col1of9 {width:11.111111111%;}
.col2of9 {width:22.222222222%;}
.col3of9 {width:33.333333333%;}
.col4of9 {width:44.444444444%;}
.col5of9 {width:55.555555555%;}
.col6of9 {width:66.666666666%;}
.col7of9 {width:77.777777777%;}
.col8of9 {width:88.888888888%;}
.col1of10 {width:10%;}
.col3of10 {width:30%;}
.col7of10 {width:70%;}
.col9of10 {width:90%;}
.col1of12 {width:8.333333333%;}
.col5of12 {width:41.666666666%;}
.col7of12 {width:58.333333333%;}
.col11of12 {width:91.666666666%;}
.col1of16 {width:6.25%;}
.col3of16 {width:18.75%;}
.col5of16 {width:31.25%;}
.col7of16 {width:43.75%;}
.col9of16 {width:56.25%;}
.col11of16 {width:68.75%;}
.col13of16 {width:81.25%;}
.col15of16 {width:93.75%;}
/* End Grids ----------------------------------------------- */

/* Layout -------------------------------------------------- */
body {color: #333; padding: 0 0 0; background: url("../images/bg_mon_1.png") repeat-x scroll 0 28px #010206;}
a {color: #FFFFFF; font-weight:bold; text-decoration: none;}
a:hover {color:#000;}
h1 a {color:#000;}
h1 a:hover {color:#FFFFFF;}
p {line-height: 18px;}
.wrapper {margin: 0 auto; width: 1000px;}
.borda{margin: 0px;}
.container{margin: 0 auto; width: 990px;}
.page {min-width:760px; max-width:990px; margin:0 auto;}
#branding h1 {font-size:5em; margin-bottom:0;}
#branding .content {border:none; padding-top:0;}
#show_grid {font-size:1.5em;}
#header .col1of5 .content {padding-top:28px; text-align:right; padding-right:36px;}
.head {border-bottom:1px solid #ccc;}
.head h3 {margin-top:18px; margin-bottom:0;}
.column .content {padding-top:18px;}
.col1of1 .content,
.lastColumn .content {border-right:none;}
.row {margin-top:-1px;}

.txtIndent {display: block; overflow: hidden; text-indent: -9999px;}
.page .marca {background: none repeat scroll 0 0 transparent; height: 51px; left: 0; margin: 20px 0 0 5px; position: absolute; top: 0; width: 286px;}
.page .marca h1.simec {margin-top: -3px;}
.page .marca h1.simec a {background: url("../images/logo_simec_2.png") no-repeat scroll 0 0 transparent; cursor: pointer; float: left; height: 59px; margin: 8px 0 0; width: 266px;}
.page .atualizar{float:right; width:44px; height:67px; background: url("../images/bt_atualizar.png") no-repeat scroll 0 0 transparent; cursor: pointer;}
.page .img_monitoramento{width:980px; height:138px; background: url("../images/img_monitoramento.png") no-repeat scroll center top transparent; cursor: pointer;  margin: -15px 0 0 0;}
.page .ed_basica{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #66c010; margin:0 0 7px 0;}
.page .ed_profissional{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #e1a217; margin:0 0 7px 0;}
.page .ed_superior{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #dabd00; margin:0 0 7px 0;}
.page .agenda{padding:5px 5px 5px 27px; color:#FFFFFF; font-size:2em; background: url("../images/icones.png") no-repeat scroll 8px 5px #2B86EE; margin:0 0 7px 0;}
.page .eb_programa{background:#66c010; width:316px; height:90px; margin:0 0 7px 0;}
.page .ep_programa{background:#e1a217; width:316px; height:90px; margin:0 0 7px 0;}
.page .es_programa{background:#dabd00; width:316px; height:90px; margin:0 0 7px 0;}
.page .ag_programa{background:#2B86EE; width:316px; height:90px; margin:0 0 7px 0;}
.page .eb_programa .img_programa, .page .ep_programa .img_programa, .page .es_programa .img_programa, .page .ag_programa .img_programa{width:316px; height:67px;}
.page .eb_programa .txt_programa, .page .ep_programa .txt_programa, .page .es_programa .txt_programa, .page .ag_programa .txt_programa{background: url("../images/icones.png") no-repeat scroll 0 -37px transparent; color: #FFFFFF; float: right; font-size: 1.2em; padding: 5px 4px 0 20px; height:16px; *height:23px; *padding:0px 4px 0 20px;}
/* End Layout -------------------------------------------------- */

/* Overlay ----------------------------------------------------- */
body {height:100%; position:relative;}
.section {position:relative;}
div.grid_overlay {position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; display:none;}
div.lines {position:absolute; top:0; left:0; width:100%; height:100%;}
div.grid {position:absolute; top:0; left:0; width:100%; height:100%;}
div.grid div.row {position:absolute; top:0; left:0; width:100%; height:100%; background:none;}
div.grid div.row div.column {background:none; height:100%; border:none;}
div.grid div.row div.column div.content {background:red; height:100%; opacity:.25; margin:0 18px;}
/* End Overlay ------------------------------------------------ */
