.ms-container {
  background: transparent url('../img/switch.png') no-repeat 50% 50% !important;
  width: 520px !important;
}

.ms-container:after{
  content: "." !important;
  display: block !important;
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  clear: both !important;
  min-height: 0 !important;
  visibility: hidden !important;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff !important;
  color: #555555 !important;
  float: left !important;
  width: 45% !important;
}
.ms-container .ms-selection{
  float: right !important;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  transition: border linear 0.2s, box-shadow linear 0.2s !important;
  border: 1px solid #ccc !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  position: relative !important;
  height: 200px !important;
  padding: 0 !important;
  overflow-y: auto !important;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(82, 168, 236, 0.8) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  outline: 0 !important;
  outline: thin dotted \9 !important;
}

.ms-container ul{
  margin: 0 !important;
  list-style-type: none !important;
  padding: 0 !important;
}

.ms-container .ms-optgroup-container{
  width: 100% !important;
}

.ms-container .ms-optgroup-label{
  margin: 0 !important;
  padding: 5px 0px 0px 5px !important;
  cursor: pointer !important;
  color: #999 !important;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid !important;
  padding: 2px 10px !important;
  color: #555 !important;
  font-size: 14px !important;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer !important;
  color: #fff !important;
  text-decoration: none !important;
  background-color: #d9edf7 !important;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee !important;
  color: #aaa !important;
  cursor: text !important;
}