body{
    background: #fff !important;
}

.lateral {
    background: #fff;
    padding: 12px;
    height: 850px;
    position: relative;
    margin-top: -10px;

}

.conteudo {
    background: #f1f1f1;
    padding: 12px;
    height: 850px;
    position: relative;
    margin-top: -10px;
}

.grafico {
    background: #fff;
    padding: 12px;
    height: 850px;
    position: relative;
    margin-top: -12px;
}

a, a:visited {

    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

pre, code {
    font-size: 12px;
}

pre {
    width: 100%;
    overflow: auto;
}

small {
    font-size: 90%;
}

small code {
    font-size: 11px;
}

.placeholder {
    outline: 1px dashed #4183C4;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: -1px;*/
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.sortable {
    margin: 3em 0;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

.sortable li div {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    /*cursor: move;*/
    cursor: pointer;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    color: #333 !important;
}

.sortable li.mjs-nestedSortable-branch div {
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.icheckbox_square-green,
.iradio_square-green {

    vertical-align: middle;
    margin: 18px 0 0 0;
    padding: 0;
    width: 17px;
    height: 17px;
    background: #0F0 no-repeat;
    border: none;
    cursor: pointer;

}

.panel-body ul li {
    margin-top: 10px;

}

input[type=checkbox] {
    margin-top: -2px;
}

.numeric {
    padding: 5px;
}

.titulo-filtros {
    color: #fff !important;
}

.linha_titulo {
    height: 2px;
    color: #414145;
    background: #414145;
    margin-top: 5px;
}

.cf * {
    text-align: center;
    font-size: 10pt;
}

.cf tr {
    background: #323232;
    color: #fff;
    font-family: Arial;
}

.info-fieldset{
    margin-top: 20px;
}

.info-fieldset legend{
    color: red;
}

/* Tabs container */
.r-tabs {
	position: relative;

	background-color: #323232;

	border-top: 1px solid #323232;
	border-right: 1px solid #323232;
	border-left: 1px solid #323232;
	border-bottom: 4px solid #323232;
	border-radius: 4px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #323232;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;

	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #323232;
	text-shadow: none;

	background-color: white;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;

	border-bottom: 4px solid white;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #323232;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #323232;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: #323232;
	border: 2px solid #00ab94;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;

	cursor: pointer;
}

span {
    color: #000 !important;
}

.label-custom {
  font-weight: 200;
  padding: 5px;
  background-color: #323232;
  color: #fff !important;
}
.filter {
  margin-top: 3px !important;
  line-height: 24px;
}
.filter label {
	margin-right: 4px;
}

.ibox {
  font-size: 13px;
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
  border-bottom: 1px solid #e7eaec;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  border: 0px;
  padding: 10px;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}
.ibox-content {
  clear: both;
}
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}
.ibox-title h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
}
.ibox-title .label {
  float: left;
  margin-left: 4px;
}
.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}
.ibox-tools a.btn-primary {
  color: #fff;
}
.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}
.ibox .open > .dropdown-menu {
  left: auto;
  right: 0;
}

.grupo th {
  line-height: 1.42857 !important;
  padding: 8px !important;
  vertical-align: top !important;
}

.table tr th {
  line-height: 1.42857 !important;
  padding: 8px !important;
  vertical-align: top !important;
}

.data-table tr td {
  line-height: 1.42857 !important;
  padding: 8px !important;
  vertical-align: top !important;
}

.linha:hover, .detalhe_regionalizacao:hover {
	cursor: pointer;
}

.linha th {
  font-weight: bold !important;
  border-top: 1px solid #e7eaec !important;
  line-height: 1.42857 !important;
  padding: 8px !important;
  vertical-align: top !important;
}

#div-resultado-cruzamento {
	font-family: lucida grande, lucida sans unicode, helvetica, arial;
	font-size: 13px;
	font-weight: 200;
}