#loader-container,
        #LOADER-CONTAINER
        {
            background: none;
            width: 100%;
            text-align: center;
           
            height: 100%;
            
        }
        
	.tituloListagem{
		border-bottom: none;
		background-color: #C4C4C4;
		text-align: left;
		width: 100%;
	}
	

		
	.areaConteudo{
		border: 1px solid #6E7B8B ;
		border-top: none;
	}
	
	.Tabela{
		width: 100%;
	}
	
	.subTitulo{
		background-color: #D3D3D3;
		width: 90%;
		padding-left: 5px;
	}
	.subTituloAcoes{
		background-color: #D3D3D3;
		width: 5%;
		padding-left: 5px;
	}
	.workflow{
		background-color: #D3D3D3;
		width: 5%;
		vertical-align: top;
	}
	.texto{
		padding-left: 5px;
	}
	.listagem{
		width: 100%;
	}
	
	
	.listas, .tdlista{
		vertical-align: top;
	}
	
	label{
		padding-left: 4px;
	}
	
	.labelFiltro{
		padding-right: 5px;
		font-weight: bold;
		width: 50px;
	}
	
	h3{
		margin-bottom: 0px;
		border: 1px solid #6E7B8B;
		border-bottom: none;
	}
	
        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
            background: transparent !important;
            border: 1px solid #A6C9E2 !important;
            color: #FFFFFF;
            font-weight: normal;
        }