body {
	background: url('../../../img/background/bg1.jpg') no-repeat center center fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-color:#333 !important;
	color:#fff !important;
	font-family: "Arial";
	 overflow:hidden;
}
.header {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 0%, #474747 0%, #111111 0%, #666666 0%, #111111 1%, #000000 2%, #474747 4%, #1c1c1c 100%, #666666 100%, #2b2b2b 100%, #2c2c2c 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#666666), color-stop(0%,#474747), color-stop(0%,#111111), color-stop(0%,#666666), color-stop(1%,#111111), color-stop(2%,#000000), color-stop(4%,#474747), color-stop(100%,#1c1c1c), color-stop(100%,#666666), color-stop(100%,#2b2b2b), color-stop(100%,#2c2c2c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#474747 0%,#111111 0%,#666666 0%,#111111 1%,#000000 2%,#474747 4%,#1c1c1c 100%,#666666 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#474747 0%,#111111 0%,#666666 0%,#111111 1%,#000000 2%,#474747 4%,#1c1c1c 100%,#666666 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#474747 0%,#111111 0%,#666666 0%,#111111 1%,#000000 2%,#474747 4%,#1c1c1c 100%,#666666 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 0%,#474747 0%,#111111 0%,#666666 0%,#111111 1%,#000000 2%,#474747 4%,#1c1c1c 100%,#666666 100%,#2b2b2b 100%,#2c2c2c 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	padding: 6px;
	text-align: center;
}
.modal.fade .modal-dialog-large{-webkit-transform:translate(0, -25%);-ms-transform:translate(0, -25%);transform:translate(0, -25%);-webkit-transition:-webkit-transform 0.3s ease-out;-moz-transition:-moz-transform 0.3s ease-out;-o-transition:-o-transform 0.3s ease-out;transition:transform 0.3s ease-out;}
.modal.in .modal-dialog-large{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);transform:translate(0, 0);}
.modal-dialog-large{margin-left:auto;margin-right:auto;width:auto;padding:10px;z-index:1050;}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 6 6px 6px 6px;
    -moz-border-radius: 6 6px 6px 6px;
    border-radius: 6 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}
.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.rodape
{
    bottom:0;
    right:0;
    left:0; 
    clear:both;
    bottom: 0px; 
    background-color: #000;
    position: static;
    bottom: 0;
}
.TituloTela
{
    background: #CCCCCC;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, Arial;
}
.erro_input{
    font-size: 8pt;
}
img[src*="obrig.gif"] {
    display: none;
}
a.chosen-single {
	height: 32px !important;
    padding-top: 5px !important;
}
.chosen-container-single .chosen-single div {
	padding-top: 5px !important;
}
#barra-brasil .brasil-flag {
	height: 100% !important;
}
.features-area .nav-tabs {
	border-bottom: 0px solid;
}
.features-area .nav-tabs {
	margin-left: -15px;
	margin-right: -15px;
}
.features-area .nav-tabs > li {
	float: left;
	margin-bottom: 0;
	padding: 15px;
	width: 33%;
}
.btn-modulos {
	top: 120px !important;
	right: 40px !important;
	background-color: #337ab7 !important;
	border-color: #2e6da4 !important;
}
.btn-premios {
	top: 190px !important;
	right: 40px !important;
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
}
.btn-avisos {
	top: 260px !important;
	right: 40px !important;
	background-color: #d9534f !important;
	border-color: #d43f3a !important;
}
.btn-documentos {
	top: 330px !important;
	right: 40px !important;
	background-color: #5cb85c !important;
	border-color: #4cae4c !important;
}
.login .panel-default, .register .panel-default {
	background: url(../img/login.png);
	border: 0px;
	opacity: 0.8;
	margin-top: 30px;
}
.login .panel-default>.panel-heading, .register .panel-default>.panel-heading {
	background-color: transparent;
	text-align: center;
	color: #fff;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.login .panel-default>.panel-footer, .register .panel-default>.panel-footer {
	background-color: transparent;
	border-top: 0px;
}
.login .panel-default .control-label, .register .panel-default .control-label {
	padding-top: 0px
}
.login {
	padding: 100px 0 60px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: #fff;
}
.register {
	padding: 50px 0 60px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: #fff;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	box-shadow: 2px 6px 20px #0c0c0c;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 12px 14px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}
.btn-item {
	text-indent: 0px;
	padding: 0px;
	display: inline !important;
	font-size: 16px;
	color: white;
	text-align: center;
}
.btn-item i {
	width: 25px;
	height: 25px;
}
.sidebar-wrapper {
	position: fixed !important;
	width: 360px !important;
	margin-right: -360px !important;
	top: 109px !important;
	height: 86% !important;
	overflow: hidden;
	-webkit-transition: all 0.7s ease 0s;
			-moz-transition: all 0.7s ease 0s;
			-ms-transition: all 0.7s ease 0s;
			-o-transition: all 0.7s ease 0s;
			transition: all 0.7s ease 0s;
}
.sidebar-wrapper.active {
	width: 360px !important;
	top: 109px !important;
	height: 86% !important;
	right: 360px !important;
	-webkit-transition: all 0.7s ease 0s;
			-moz-transition: all 0.7s ease 0s;
			-ms-transition: all 0.7s ease 0s;
			-o-transition: all 0.7s ease 0s;
			transition: all 0.7s ease 0s;
}
.sidebar-nav {
	width: 100%;
}
.sidebar-nav>li.item {
	padding-top: 4px;
	height: 44px;
}
.sidebar-nav>li.news {
	padding-bottom: 20px;
	padding-right: 20px;
}
.sidebar-nav>li img {
	width: 90%;
}
.sidebar-nav>li h6 {
	margin: 0;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-indent: 0;
	margin-left: 20px;
}
.sidebar-nav>li h2 {
	margin: 0;
	color: #c8c5c5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	text-indent: 0;
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sidebar-nav>li p {
	color: #c8c5c5;
	font-size: 12px;
	line-height: 20px;
	text-indent: 0px;
	margin-left: 20px;
	text-align: justify;
}	
.sidebar-nav>li.item:hover {
	background: rgba(255,255,255,0.2);
}
.sidebar-nav>li.item .item-hover {
	margin-left: 20px;	
	font-size: 12px;
	color: #c8c5c5;
	text-indent: 0px;
	line-height: 14px;
	padding-top: 10px;
}
.sidebar-nav>li.item .item-text {
	width: 80%; 
	float: left;
}
.sidebar-nav>li.item .item-menu {
	float: right;
	width: 20%;
}
.menu-icon {
	margin-left: -22px;
}
.menu-close {
	background-color: transparent !important;
	color: #d9534f !important;
}
.menu-close a:hover {
}
.sistema-texto {
	font-size: 12px;
	line-height: 20px;
}
.sistema-texto h2 {
	color: #c8c5c5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	text-indent: 0;
	padding-top: 5px;
}