@charset "utf-8";
/* CSS Document */

body {
/*    background-image: url("../imagens/bg.png");*/
    color: #333333;
    font-family: "open_sansregular",'Open Sans',Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #0A5517;
    background-image: radial-gradient(ellipse at center center , #19882C 1%, #025310 100%);
    padding: 14px 0 10px;
}

.container{
    background-color: #fff;
    -webkit-box-shadow: 6px 6px 6px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow:    6px 6px 6px 0px rgba(50, 50, 50, 0.59);
    box-shadow:         6px 6px 6px 0px rgba(50, 50, 50, 0.59);
}

legend {
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
}
h1{
    padding: 5px 22px 5px 10px;
    border-bottom: 3px solid #0A5517;
    font-size: 26px;
    font-weight: bold;
}
h2{
    padding: 5px 22px 5px 10px;
    border-bottom: 1px solid #0A5517;
    margin-top: 5px;
}
h3{
    padding: 5px 22px 5px 0px;
    border-bottom: 1px solid #0A5517;
    margin-top: 5px;
   	font-size: 18px;
	font-style: italic;
}
h4{
    margin-top: 5px;
    font-size: 16px !important;
    text-align: justify;
}

.avaliacao {
	padding: 10px 0px;
}
.avaliacao p {
	font-size: 16px;
}
.avaliacao b {
	color: #999999
}
.avaliacao textarea {
	width: 98%;
	padding: 5px 5px 5px 10px;
	margin-top: 10px;
	border-radius: 4px;
}
.avaliacao textarea:disabled {
	background-color: lightyellow;
	border-color: yellow;
	color: #989898;
}
.panel-group {
	margin-bottom: 0px;
}
.panel-title a {
	text-decoration: none;
}
.panel-link :hover {
	background-color: #E8E8E8;
}
.panel-content {
	margin-top: -2px !important;
}

#informativos{
    text-align: justify;
}
#informativos h3{
    text-align: left;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    border-bottom: 2px solid #0A5517;
}
#informativos p{
    margin-top: 10px;
    /*text-indent: 30px;*/
}

#logomarca {
	margin-left:25px;
	margin-right:auto;
	padding-left:140px;
	width: 320px;
	float:left;
	background-color: #FFF;
}
#sair {
	position:absolute;
	right:330px;
	top:35px;
}
#usuario {
	margin-left:auto;
	margin-right:auto;
	width:490px;
	height:62px;
	float:left;
	padding-top:35px;
	background-color: #FFF;
	color:#44a3bd;
}

.Tabela{
	background-color:#FFF !important;
	border-color:none !important;
}

.SubTituloEsquerda{
	background-color:#FFF !important;
	border-color:none !important;
}

.rodape{
	border-top:#09F 1px solid;
}

input disable{
	background-color: #CCC;
	padding: 3px 5px;
}

.chosen-container {
	width: 100% !important;
}

.chosen-container.error {
  border-color: #FF7373 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
}

.chosen-container.error a {
  border-color: #FF7373 !important;
}

.error:focus {
  border-color: #FF7373 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
}

label.error {
	display: none !important;
}

.save-button {
	position: absolute !important;
        float: right !important;
        display: scroll;
	cursor: pointer;
	bottom: 1em;
	right: 60px;
	width: 55px;
	height: 55px;
	padding-right: 1em;	
	z-index: 999;         
}

.data-termino {
  margin: 0 auto;
}
.data-termino .countdown-container {
  height: 130px;
}
.data-termino .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  height: 40px;
  width: 35px;

  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.data-termino .count {
  background: #202020;
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.60em;
  line-height: 1.62em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.data-termino .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.data-termino .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.data-termino .count.next {
}
.data-termino .label {
  font-size: normal;
  font-weight: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 36px;
  width: 100%;
}
/* Animation start */
.data-termino .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.data-termino .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.data-termino .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.data-termino .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
  .data-termino {
    width: 100%;
  }
  .data-termino .countdown-container {
    height: 100px;
  }
  .data-termino .time {
      height: 70px;
      width: 48px;
  }
  .data-termino .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .data-termino .label {
    font-size: 0.8em;
    top: 72px;
  }
}

.chosen-container.error {
  border-color: #FF7373 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
}

.chosen-container.error a {
  border-color: #FF7373 !important;
}

.error:focus {
  border-color: #FF7373 !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 77, 0.6) !important;
}

label.btn-raty-padrao{
    background-color: #fff ;
    border-color: #ccc;
}
/*
.col-md-3 {
  width: 23.5% !important;
  padding-left: 30px !important;
}

.col-md-15 {
  width: 100% !important;
  padding-left: 30px !important;
}*/

.link-menu{
    padding: 6px !important;
    border-bottom: 1px white solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header{
    background: rgb(15,104,58) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(15,104,58,1) 0%, rgba(0,66,12,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,104,58,1)), color-stop(100%,rgba(0,66,12,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(15,104,58,1) 0%,rgba(0,66,12,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(15,104,58,1) 0%,rgba(0,66,12,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(15,104,58,1) 0%,rgba(0,66,12,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(15,104,58,1) 0%,rgba(0,66,12,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f683a', endColorstr='#00420c',GradientType=0 ) !important; /* IE6-9 */
}

.navbar-default{
    position: absolute !important;
}

/*.col-md-7 {
  width: 55% !important;
  padding-left: 30px !important;
}

.col-md-7 {
  width: 55% !important;
  padding-left: 30px !important;
}*/

.menuFormulario {
    /*background-color: #0a0 !important;*/
    background-color: #00420c !important;
    color: #ffffff !important;
}

 .menuFormulario :hover {
    background-color: #19882C !important;
    /*background-color: #26b326 !important;*/
    color: #ffffff !important;
}

.menuItem {
    color: #ffffff !important;
}

.panelMeta {
    /*background-color: #999999 !important;*/
}

.fontMeta {
    /*color: #FFFFFF;*/
}

body{
    background-color: #00420c !important;
}

#page-wrapper{
    background-image: url("../imagens/bg.png");
}

.chosen-single{
    padding: 0 12px !important;
}


label.btn-success.active{
    color: #ffffff !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
}

label.btn-primary.active{
    background-color: #3071a9 !important;
    border-color: #285e8e !important;
    color: #ffffff;
}

label.btn-default.active{
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
    color: #333333;
}

label.btn-warning.active{
    background-color: #ec971f !important;
    border-color: #d58512 !important;
    color: #ffffff;
}

label.btn-danger.active{
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
    color: #ffffff;
}