@CHARSET "ISO-8859-1";
#loader-container,
#LOADER-CONTAINER
{
    background: none;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 8000;
    height: 100%;
}


#loader {
    background-color: #fff;
    color: #000033;
    width: 300px;
    border: 2px solid #cccccc;
    font-size: 12px;
    padding: 25px;
    font-weight: bold;
    margin: 150px auto;
}

.div_imagens{
	float:left; 
	margin-right:5px;
	margin-top:3px;
}

.textoEsquerda{
	text-align:left;
	background-color:#E3E3E3;
}

.td_btns{
	text-align:right;
	padding-right:32px;	
}
.td_btnsTopo{
	text-align:right;
	padding-right:32px;	
	background-color:#E3E3E3;
	width:100px;
}
.tdTopo{
	text-align:right;
	background-color:#E3E3E3;
	font-weight: bold;
}
.td_left{
	text-align: left;	
}

.ajuda{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}
.linha{
	position: absolute;
	text-align: left;
}

.listaSubAcoes{
	margin-left:-10px;
}

.listaItensComposicao{
	margin-left:-10px;
}

.tabelaMonitoramento{
	border:1px solid #999999;
}

.divAbrirFecharTodos{
	overflow: hidden;
	text-align: left;
	height: 32px;
}

.td_Branca{
	background-color:#FFFFFF;
}

.barra1{
	text-align:left; 
	padding: 0 0 0 0; 
	margin-left:5px; 
	padding:0 0 0 0; 
	height: 12px; 
	max-height: 12px;
	width: 50px; 
	border: 1px solid #888888; 
	background-color:#FFFFFF;
}

.imgBarra{
	 height		:12px; 
	 max-height :12px;
}

							
	
							
							
							
							
