@CHARSET "ISO-8859-1";

/* CSS para os indicadores demograficos */
/* CSS Document */
body{
margin:0px;
padding:0px;
margin-left:10px;
}
th, td{
border: 1px solid #fff;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
img{
border:none;
}
caption {
display:none;
}
.upper {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8px;
color:#000000;
text-transform: uppercase;
}
#indicadores_titulo{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
width:746px;
font-weight:bold;
margin-top:5px;
text-align:left;
}
#indicadores_titulo img{
margin-right:0px;
}
#texto_indicadores{
margin-top:10px;
width:745px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
text-align:justify;
}
.back_button a{
font-size: 12px;
font-weight: normal;
color: #2B729D;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}
.back_button avisited{
font-size: 12px;
font-weight: normal;
color: #2B729D;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}
.back_button a:hover{
font-size: 12px;
font-weight: normal;
color: #2B729D;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:underline;
}
#print{
width:80px;
text-align:right;
height:20px;
float:right;
_margin-right:0px;
}
.td_brasil{
background-color:#cee4bc;
}
table{
width:721px;
font-size:10px;
}
.th1{
font-size:14px;
color:#FFFFFF;
text-align: left;
height:30px;
padding-left:10px;
font-weight:bold;
}

/* Tabela 1*/
#tb1{
border: 3px double #aba476;
background-color: #ecebd5;
}
#tb1 .th1{
background-color:#aba476;
}
#tb1 .th2{
height:30px;
font-size:11px;
text-align: center;
background-color:#d4ce6e;
}
#tb1 .th3{
font-weight:bold;
text-align:center;
height:30px;
background-color:#DFDCB5;
font-size:11px;
}
#tb1 .th4{
font-weight:bold;
text-align:center;
background-color:#EFEAA4;
font-size:11px;
}
#tb1 .th5{
text-align:center;
height:30px;
}
#tb1 .th5_blue{
text-align:center;
height:30px;
color:#000099;
font-weight: bold;
}
#tb1 .th5_red{
text-align:center;
height:30px;
color:#CC3300;
font-weight: bold;
}
#tb1 .th5_green{
text-align:center;
height:30px;
color:#003300;
font-weight: bold;
}
.th6{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#000000;
text-transform: uppercase;
}

#tb1 .th6{
text-align:left;
height:30px;
font-weight:bold;
padding-left:10px;
background-color:#aba476;
color:#FFFFFF;
}
#tb1 .th7{
text-align:center;
height:30px;
font-weight:bold;
background-color:#aba476;
color:#FFFFFF;
}
#tb1 .th3_red{
font-weight:bold;
text-align:center;
background-color:#edebbd;
height:30px;
font-size:10px;
color: #CC3300;
}
#tb1 .th3_green{
font-weight:bold;
text-align:center;
background-color:#D1DFC3;
height:30px;
font-size:10px;
color: #003300;
}
/* Fim da Tabela 1*/

/* Tabela 2*/
#tb2{
border: 3px double #6E8D62;
background-color: #e9f0e3;
}
#tb2 .th1{
background-color:#6E8D62;
}
#tb2 .th2{
height:30px;
font-size:11px;
text-align: center;
background-color:#B3BFA7;
}
#tb2 .th3{
font-weight:bold;
text-align:center;
background-color:#D1DFC3;
height:30px;
font-size:11px;
}
#tb2 .th3_red{
font-weight:bold;
text-align:center;
background-color:#D1DFC3;
height:30px;
font-size:10px;
color: #CC3300;
}
#tb2 .th3_green{
font-weight:bold;
text-align:center;
background-color:#D1DFC3;
height:30px;
font-size:10px;
color: #003300;
}
#tb2 .th4{
font-weight:bold;
text-align:center;
background-color:#B3CC99;
height:30px;
font-size:11px;
}
#tb2 .th5{
text-align:center;
height:30px;
}
#tb2 .th5_blue{
text-align:center;
height:30px;
color:#000099;
font-weight: bold;
}
#tb2 .th5_red{
text-align:center;
height:30px;
color:#CC3300;
font-weight: bold;
}
#tb2 .th5_green{
text-align:center;
height:30px;
color:#003300;
font-weight: bold;
}
#tb2 .th6{
text-align:left;
height:30px;
font-weight:bold;
padding-left:10px;
background-color:#6E8D62;
color:#FFFFFF;
}

/* Fim da Tabela 2*/

/* Last-Modified: 28/06/06 00:08:22 */
#GB_overlay {
    background-color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
}

#GB_window {
    left: 0;
    top: 0;
    font-size: 1px;
    position: absolute;
    overflow: visible;
    z-index: 150;
}

#GB_window .content {
    width: auto;
    margin: 0;
    padding: 0;
}

#GB_frame {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}


.GB_Gallery {
    margin: 0 22px 0 22px;
}

.GB_Gallery .content {
    background-color: #fff;
    border: 3px solid #ddd;
}

.GB_header {
    top: 10px;
    left: 0;
    margin: 0;
    z-index: 500;
    position: absolute;
    border-bottom: 2px solid #555;
    border-top: 2px solid #555;
}

.GB_header .inner {
    background-color: #333;
    font-family: Arial, Verdana, sans-serif;
    padding: 2px 20px 2px 20px;
}

.GB_header table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

.GB_header .caption {
    text-align: left;
    color: #eee;
    white-space: nowrap;
    font-size: 20px;
}

.GB_header .close {
    text-align: right;
}

.GB_header .close img {
    z-index: 500;
    cursor: pointer;
}

.GB_header .middle {
    white-space: nowrap;
    text-align: center;
}


#GB_middle {
    color: #eee;
}

#GB_middle img {
    cursor: pointer;
    vertical-align: middle;
}

#GB_middle .disabled {
    cursor: default;
}

#GB_middle .left {
    padding-right: 10px;
}

#GB_middle .right {
    padding-left: 10px;
}


.GB_Window .content {
    background-color: #fff;
    border: 3px solid #ccc;
    border-top: none;
}

.GB_Window .header {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #999;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    margin: 0;

    height: 22px;
    font-size: 12px;
    padding: 3px 0;
    color: #333;
}

.GB_Window .caption {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 20px;
}

.GB_Window .close { text-align: right; }
.GB_Window .close span { 
    font-size: 12px;
    cursor: pointer; 
}
.GB_Window .close img {
    cursor: pointer;
    padding: 0 3px 0 0;
}

.GB_Window .on { border-bottom: 1px solid #333; }
.GB_Window .click { border-bottom: 1px solid red; }
