<?php $multiCadastro = $this->multiCadastro;
    $idFormulario = 'formulario_' . $multiCadastro->getId();
    $idListagem = 'lista_' . $multiCadastro->getId();
?>
<div>
    <?php
    if ($multiCadastro->getTipo() == Simec_MultiCadastro::K_TIPO_TELA) {
        echo 'Formulário';

        if ($multiCadastro->getFormPadrao()) {
            echo '<form method="post" action="' . $multiCadastro->getActionForm() . '" name="' . $idFormulario . '" id="' . $idFormulario . '">';
        }

        echo '<div id="div_' . $idFormulario . '"></div>';

        if ($multiCadastro->getFormPadrao()) {
            echo '</form>';
        }
    } ?>

    <div id="<?php echo $idListagem ?>">

        Listagem

    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#div_<?php echo $idFormulario; ?>').load('<?php echo $multiCadastro->getFormulario(); ?>');
        $('#<?php echo $idListagem; ?>').load('<?php echo $multiCadastro->getListagem(); ?>');
    });
</script>