#dialogAjax{
    background-color:#ffffff;
    position:absolute;
    color:#000033;
    top:50%;
    left:40%;
    border:2px solid #cccccc;
    width:20%;
    font-size:12px;
    padding: 20px;
    line-height: 20px;
    display: none;
}

#legendasWorkflow
{
	margin: 10px;
	min-width: 300px;	
}

#legendasWorkflow img{
	margin-right: 5px;	
}
.clear{
	clear: both;
}

.alinhamentoEsquerda{
	float: left;
}

.alinhaTextoCentro{
	text-align: center;	
}

#btDivEncaminhar{
	margin-left: 300px;	
	margin-top: 40px;
}

.celulaTotalizadora{
	width: 60px;
}

.celulaEstudante{
	width: 80px;
}

.espacamentoAcao{
	width: 10px;
}

.negrito{
	font-weight: bold; 
}