body{background-image:url('../../imagens/degrade-fundo-preto.png');background-repeat:repeat-x;background-color:#DF981A;margin:0px;padding-top:0px;}

.fundo_titulo{
    background-repeat:repeat-xt;
    background-position:2px -50px;
    font-weight:bold;
    font-size:30px;
    color:#FFFFFF;
    text-shadow:#000000 0px 4px 2px;
}

.fundo_td{background-color:#0F6D39}
.fundo_td:hover {background-color:#0D8845}
.titulo_pagina{font-weight:bold;font-size:20px;color:#FFFFFF}
.titulo_box{font-weight:bold;font-size:18px;color:#FFFFFF;margin-top:15px;text-shadow:#000000 0px 1px 2px}
.subtitulo_box{font-weight:normal;font-size:12px;color:#FFFFFF}
.fundo_td{text-align:left;vertical-align:top;}
.tabela_painel{font-weight:bold;font-size:8px;color:#FFFFFF;font-family:fantasy}
.lista_metas{float:left}
#busca{background: none repeat scroll 0% 0% rgb(255, 255, 255); width:400px;border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); color: rgb(0, 0, 0); font: 18px arial,sans-serif bold; height: 35px;}
.div_fotos{background-color:#7B68EE;cursor:pointer;margin-bottom:3px;text-shadow:#000000 0px 1px 2px;width:350px;margin-bottom:2px}
.div_fotos_padrao{background-color:#152D56;cursor:pointer;margin-bottom:3px;text-shadow:#000000 0px 1px 2px;width:300px;margin-bottom:2px}
.numero{text-align:right}
.center{text-align:center}
.titulo_box a{color:#FFFFFF;text-decoration:none;}
.titulo_box a:hover{color:#FFFFFF;text-decoration:none;}
.div_fotos_interno{margin-bottom:2px;width:98%}
.bold{font-weight:bold}
.link{cursor:pointer}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}

td{vertical-align: top;}

.fundo_padrao{background-color:#152D56}
.fundo_padrao:hover {background-color:#1F3864}
.fundo_azul{background-color:#2B86EE}
.fundo_azul_padrao{background-color:#4F81BD}
.fundo_verde{background-color:#0F6D39}
.fundo_verde:hover{background-color:#32CD32}
.fundo_laranja{background-color:#EE9200}
.fundo_laranja:hover{background-color:#EBB513}
.fundo_vermelho{background-color:#BB0000}
.fundo_vermelho:hover{background-color:#DD0000}
.fundo_roxo{background-color:#5333AD}
.fundo_roxo:hover{background-color:#6A5ACD}
.fundo_azul_escuro{background-color:#152D56}
.fundo_azul_escuro:hover{background-color:#1F3864}
.fundo_amarelo{background-color:#DAA520}

.box_texto{
   width: 160px; 
   height: 60px;
   margin: 5px;
   float: left; 
   text-align: left;
   vertical-align: middle; 
   font-family: Verdana; 
   font-size: 12px; 
   cursor: pointer;
}

.tabela_box{color:#444;}
.tabela_box tr{ background-color:#eee; }
.tabela_box tr.zebrado{ background-color:#ddd; }
.tabela_box tr:hover{ background-color:#fff; }

/* Sobreescrevendo cores do componente */

/*.tabela_indicadores td{ background-color:#eee !important; }
.tabela_indicadores {color:#444 !important;}
.tabela_indicadores td:hover{ background-color:#fff !important;}
.tabela_indicadores td{ background-color:#eee !important; color:#444 !important; color:#FFFFFF; text-shadow: none;}
*/
.tabela_indicadores td{ background-color:#C0D9D9 !important; color:#444 !important; text-shadow: none;}

.scrollbar{
    overflow: hidden;
    position: relative;
}