html, body{
	/* height: 100%; */
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    background: rgb(51,51,51);
    color: #fff;
    padding:20px;
    font-size: 12px;
}
a, h1, h2, h3{
	color:white;
}
 
.pagina{
    width:auto;
    height:auto;
}

.linha{
    width: 100%;
    padding: 5px;
    height: auto;
    display: table;    
}

.objetivos_metas{
	font-size: 14px;
	padding: 5px;
	}

.titulo{
	font-size: 18px;
}

.metas{
	font-size: 14px;
}

.iniciativas{
	font-size: 14px;
}
.SubTitulo{
	font-size: 14px;
}
.tituloInterno{
	font-size: 20px;
}
.desafios{
	font-size: 14px;
}

.clickObjetivosPPA{
	font-size: 14px;
}

.clickMetasPNE{
	font-size: 14px;
}

.clickDesafiosPE{
	font-size: 14px;
}


.tile0{
    height:50px;   
    width:110px;  
    float:left;
    margin:0 5px 0 0;
    padding:2px;
    font-size: 14px;
    cursor: pointer;
}

.tile1{
    height:100px;   
    width:155px;  
    float:left;
    margin:0 5px 0 0;
    padding:2px;
    font-size: 14px;
    font-weight:bold;
    cursor: pointer;
}

.tile2{ 
	width:150px;	
	/* font-size: 30px; */	
	font-weight:bold;
}
 
.tile3{ width:170px; }

.tile4{
	height: auto;
	width: 100%; 
	margin: 0 0 5px 0;	
}

.div_conteudo{
	float:left;
	width:32%;
	height:auto;
	margin-top:5px;	
    padding:0px;
    font-size: 14px;
}

.amarelo{ background: #DAA520; }
 
.vermelho{ background: #CD0000; }
 
.azul{ background: #4682B4; }
.azulClaro{ background: #0198AB; }
.azulEscuro{ background: #0653BB; }
 
.verde{ background: #2E8B57; }
.verdeClaro{ background: #B4F7AF; }
.verdeEscuro{ background: #098900; }

.marromClaro{ background: #B77C3C; }

.laranja{ background: #D65128; }

.roxo{ background: #603CBA; }

.selecionado{ background: #483D8B; }
.selecionado_eixo{ background: #8178BA; }
.nao_selecionado{ opacity: .3; color: #f0f0f0; }

#div_roll{
	width:495px;	
	text-align: justify;	
}

#div_roll_pagina{
	height:auto;	
	max-height: 190px;
	margin-left: auto;
	margin-right: auto;	
	overflow: auto;
	padding: 5px;	
}

#div_lnk_objetivos_metas{	
	
	height:auto;	
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;	
	overflow: auto;
	padding: 5px;
}
#div_lnk_objetivos_metas2{
	height:auto;
	max-height: 260px;
	margin-left: auto;
	margin-right: auto;	
	overflow: auto;
	padding: 5px;
}

/* ESTILOS DO JIT TABLE */
.tabela{width:99%;}
.notprint{width:99%;}
.ocultaLinha{display: none;}
.fundo_td{background-color:#0F6D39}
.titulo_pagina{font-weight:bold;font-size:20px;color:#FFFFFF}
.titulo_box{font-weight:bold;font-size:18px;color:#FFFFFF;margin-top:15px;text-shadow:#000000 0px 1px 2px}
.subtitulo_box{font-weight:normal;font-size:10px;color:#FFFFFF}
.fundo_td:hover {background-color:#0D8845}
.fundo_td{text-align:left;vertical-align:top;}
.tabela_painel{font-weight:bold;font-size:8px;color:#FFFFFF;font-family:fantasy}
.lista_metas{float:left}  	
  	
.white {
color: #606060;
border: solid 1px #b7b7b7;
background: #fff;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
background: -moz-linear-gradient(top, #fff, #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
background: #ededed;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
background: -moz-linear-gradient(top, #fff, #dcdcdc);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
color: #999;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
background: -moz-linear-gradient(top, #ededed, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.tip {
text-align: left;
width:auto;
max-width:500px;
}
.tip-title {
font-size: 11px;
text-align:center;
margin-bottom:2px;
}
#container {
width: 100%;
height: 500px;
margin:0 auto;
position:relative;
}
#center-container {
width:100%;
height:600px;
position:absolute;
top:0;
float:center;
background-color:#1a1a1a;
color:#ccc;
}
#infovis {
position:relative;
width:100%;
height:500px;
margin:auto;
overflow:hidden;
}
.text {
margin: 7px;
}
.tip {
color: #111;
width: 139px;
background-color: white;
border:1px solid #ccc;
-moz-box-shadow:#555 2px 2px 8px;
-webkit-box-shadow:#555 2px 2px 8px;
-o-box-shadow:#555 2px 2px 8px;
box-shadow:#555 2px 2px 8px;
opacity:0.9;
filter:alpha(opacity=90);
font-size:10px;
font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
padding:7px;
}
.button {
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 10px / 100% Arial, Helvetica, sans-serif;
padding: 0.5em 1em 0.55em;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
border-radius: 0.5em;
-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover {
text-decoration: none;
}
.button:active {
position: relative;
top: 1px;
}

/* OUTROS */
button{
	/*
	color: white; 
	background-color: #0653BB;
	border: 1px solid #0653BB;
	*/
	width: 99%;
	text-align: left;
}

.acalinkpainelestrategico{
	width: auto;
	height: auto;
	background: blue;
}

.textoDescricao{
	font-size: 14px;	
}
