/** Link Formatting **/

A {
	COLOR: #C2113A
}

A:link {
	COLOR: #C2113A
}

A:visited {
	COLOR: #CC6666
}

A:active {
	COLOR: #002A6C
}

A:hover {
	COLOR: #003366
}

.mmenu
{
  position:absolute;
  display:none;
}

.White, 
font.White, 
a.White, 
a.White:link,
a.White:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	FONT-SIZE: 11px
}

a.White:hover {
    COLOR: #CCCCCC;
}

.Black, 
font.Black, 
a.Black, 
a.Black:link,
a.Black:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	FONT-SIZE: 11px
}

a.Black:hover {
	COLOR: #666666;
}

/** General Font Formatting **/

BODY, TD {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	MARGIN: 0px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Geneva, sans-serif
}

P {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Geneva, sans-serif
}

B {
	FONT-STYLE: Bold;
	FONT-FAMILY: Arial, Geneva, sans-serif;
}

DIV {
	FONT-SIZE: 11px;
	COLOR: #003366;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Geneva, sans-serif;
}

UL { 
	FONT-FAMILY: Arial, Geneva, sans-serif;
	list-style-type: square;	
	FONT-SIZE: 12px;
}

UL.mod	{
	FONT-FAMILY: Arial, Geneva, sans-serif;
	font-size: 11px;
	list-style-type: square;
	list-style-position: inside;
	margin-left: 0px;
	margin-bottom: -8px;
}

li.White {
	margin-bottom: 5px 
}

li.Black {
	margin-bottom: 5px 
}


ul.ulwhitemod {
	list-style-position: outside;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 2px 0px 0px 4px;
	padding: 0px 0px 0px 10px;
	list-style-image: url(/images/boxwhite.gif);
}

li.liwhitemod {
	line-height: 10px;
	list-style-image: url(/images/boxwhite.gif);
	margin-left : 0px;
	margin-bottom: 6px;
	margin-top: 1px;
	margin-right: 0px;
}
	
ul.ulblackmod {
	list-style-position: outside;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 2px 0px 0px 4px;
	padding: 0px 0px 0px 10px;
	list-style-image: url(/images/boxblack.gif);
}

li.liBlackmod {
	line-height: 10px;
	list-style-image: url(/images/boxblack.gif);
	margin-left : 0px;
	margin-bottom: 6px;
	margin-top: 1px;
	margin-right: 0px;
}	

/** Content Region Formatting **/

TD.content {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Geneva, sans-serif;
	width: 620px;
}

.Breadcrumb {
	FONT-SIZE: 9.5px;
	COLOR: #C2113A;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Geneva, sans-serif;
	PADDING-TOP: 4px;
	PADDING-BOTTOM: 8px;
	HEIGHT: 16px;
	LINE-HEIGHT: 2px;
}

.Title {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px; 
	COLOR: #003366
}

H2 {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px; 
	COLOR: #003366;
	MARGIN-TOP: 12px;
}

H3 {
FONT-FAMILY: Arial, Geneva, sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #003366;
}

H4 {
FONT-FAMILY: Arial, Geneva, sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #003366;
}

.Subheader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #003366
}

/** Content Box Formatting **/

Table.Red {
	BACKGROUND-COLOR: #C2113A;
}

Table.Blue {
	BACKGROUND-COLOR: #002A6C;
}

Table.LightBlue {
	BACKGROUND-COLOR: #336799;
}

Table.DarkGray {
	BACKGROUND-COLOR: #666666;
}

Table.Gray {
	BACKGROUND-COLOR: #DDDDDD;
}

.Red {
	BACKGROUND-COLOR: #C2113A;
}

.LightRed {
	BACKGROUND-COLOR: #CC6666
}

.Blue {
	BACKGROUND-COLOR: #002A6C;
}

.LightBlue {
	BACKGROUND-COLOR: #336799;
}

.DarkGray {
	BACKGROUND-COLOR: #666666;
}

.Gray {
	BACKGROUND-COLOR: #DDDDDD;
}

.ContentBoxWhite { display: none;

}

.ContentBoxBlack { display: none;

}

.Caption {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #000000;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
}

.CountryText {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
}

.Footer {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
}

.Top {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9px;
	COLOR: #002A6C;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
}

.note {
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	}
	
.credit { font-weight: normal; color: navy; font-family: arial,helvetica,san-serif; text-decoration: none; font-size: 10px; text-align:left; padding-left: 9px; }	


/** Button Formatting **/

.ActionButtonMain {
	FONT-SIZE: 11px; 
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Geneva, sans-serif;
	BACKGROUND-COLOR: #C2113A;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	MARGIN-TOP: 3px;
	MARGIN-BOTTOM: 3px;
}
.ActionButton {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #002A6C;
}
.ActionButtonBlue {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #002A6C;
}
.ActionButtonLightBlue {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #336799;
}
.ActionButtonGray {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #CCCCCC;
}

.ActionButtonDarkGray {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #666666;
}

.ActionButtonRed {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #BE405D;
}

.ActionButtonLightRed {
	FONT-FAMILY: Arial, Geneva, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #BA4D4D;
}

/** Form Field Formatting **/



.FormInputExtraLarge {
	margin-left: 5px;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	padding-left: 3px;
    width: 200px;
}

.FormInputLarge {
	margin-left: 5px;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	padding-left: 3px;
    width: 150px;
}

.FormInputMed {
	margin-left: 5px;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	padding-left: 3px;
    width: 120px;
}

.FormInputMedium {
	margin-left: 2px;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	padding-left: 3px;
    width: 130px;
	font-size: 9pt;
}

.FormInputSmall {
	margin-left: 5px;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	padding-left: 3px;
    width: 50px;
}


