@charset "utf-8";
/* CSS Document */

#conteudo{
	margin:0 auto;
	width:100%;
}

#subconteudo{
	margin:0 auto;
	width:1000px;
}

#topo{
	height:53px;
}
#geral {
	width:98%;
	min-width:778px;
	margin:0 0 0 8px ;
	background:#FFFFFF;
	padding:5px 0 0 0;
}
#geral_top_esq {
	width:98%;
	min-width:778px;
	margin:0 0 0 8px ;
	background:url(../../../images/top_bg_esq.png) no-repeat left    ;
	height: 4px;
	padding:0 0 0 -10px;
	*position:relative;
}

#geral_top_dir{
	min-width:778px;
	background:url(../../../images/top_bg_dir.png) no-repeat right    ;
	height:4px;
	float:right;
	width:98%;
}

#geral_base_esq {
	width:98%;
	min-width:778px;
	margin:0 0 0 8px ;
	background:url(../../../images/base_bg_esq.png) no-repeat left    ;
	height: 4px;
	padding:0 0 0 -10px;
	*position:relative;
}

#geral_base_dir{
	min-width:778px;
	background:url(../../../images/base_bg_dir.png) no-repeat right    ;
	height:4px;
	float:right;
	width:98%;
}

#geral #geral_top{
	height:255px;
	padding:0 0 0 10px;
}
#geral #geral_top #texto{
	width:494px;
	height:214px;
	*height:220px;
	background: #F0EEF9 url(../../../images/login_texto_bot.png) no-repeat bottom;
	margin:0;
	padding:0 0 10px 0;
	float:left;
}
#geral #geral_top #texto h2{
	background:#F0EEF9 url(../../../images/login_texto_top.png) no-repeat top;
	padding:5px 0 0 10px;
	color: #382E96;
	font-size:120%;
	font-weight:normal;
	margin:0;

}
#geral #geral_top #login{
	float:left;
	text-align:left;
	margin:0 0 0 35px;
}
#geral #geral_top  h3{
	background: #43168D url(../../../images/tit_acesso.png) no-repeat;
	text-indent:-9999px;
	width:195px;
	height:32px;
	display:table;
	margin:0;
}
#geral #geral_top #login #login_box{
	background: #321EA4 url(../../../images/login_box_bot.png) no-repeat bottom;
	width:380px;
	margin:0 25px 0 0;
	padding:0 0 10px 0;
}

#geral #geral_top #login #login_box form{
	background:#321EA4  url(../../../images/login_box_top.png) no-repeat top;
	padding:20px 0 0 30px;

}

#geral #geral_top #login #login_box form input{
	margin:0 0 5px 0;
	width:228px;
	height:22px;
	background: url(../../../images/login_input_bg.png) no-repeat;
	border:none;
	padding:3px 0 3px 6px;
	color: #321EA4;
	font-weight:bold;
}
#geral #geral_top #login #login_box form label{
	float:left;
	width:48px;
	color:#FFFFFF;
	font-size:120%;
	
}
#geral #geral_top #login #login_box form .button{
	width:100px;
	height:30px;
	background:url(../../../images/login_bt_submit.png) no-repeat;
	cursor:pointer;
	color:#FFFFFF;
}
#geral #geral_top #login #login_box form .button:hover{
	background:url(../../../images/login_bt_submit_on.png) no-repeat;
}
#geral #geral_top #login #login_box p a{
	color:#dbf0ff;
	margin:80px;
	line-height:10px;
	padding:0 0 3px 0;
}
#geral #geral_top #login #login_box p a:hover{
	color: #FFFFFF;
}
#geral #geral_bot{
	height:268px;
	background:url(../../../images/img_graficos.jpg) no-repeat;
	margin:0 0 0 10px;
}