/**
 * $Id: recorc.css 73605 2014-01-16 13:02:13Z maykelbraz $
 */
.divCap{width:330px;float:left;margin:20px 0 0 30px;
-webkit-border-radius:20px;-moz-border-radius: 20px;
border-radius:20px;clear:right;height:100%;padding-bottom:10px}
.tituloCaixa{float:left;margin:10px 0 0 10px;color:#FFF;
font-size:18px;width:90%;border-bottom:1px solid #FFF;
padding-bottom:3px;text-align:left}
.subTituloCaixa{float:left;margin:10px 0 0 10px;color:#FFF;
font-size:12px;width:90%;border-bottom:1px solid #FFF;
padding-bottom:3px;text-align:left}
.btnNormal{background-color:#FFF;-webkit-border-radius:5px;
-moz-border-radius:5px;border-radius:5px;float:left;
width:140px;color:#002A6C;font-weight:bold;text-align:center;
margin:10px 0 0 10px;padding:5px;color:#002A6C;
height:45px;font-size:11px}
.btnNormal:hover{background-color:#C0C0C0}
.btnOn{cursor:pointer}