#sliderDiv{
	position:absolute;
	width:205px;
	height: 75px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
	word-wrap: break-word; 
	overflow: hidden;
}
#sliderDiv span,#sliderDiv img{
	float:left;
}
#sliderDiv .selectBox,#sliderDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#sliderDiv .selectBoxTime,#sliderDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#sliderDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}



#sliderDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#sliderDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#sliderDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#sliderDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#sliderDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;


}
#sliderDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#sliderDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#sliderDiv .todaysDate div{
	float:left;
}
	
#sliderDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#sliderDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#sliderDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#sliderDiv #monthSelect{
	width:70px;
}
#sliderDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#sliderDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#sliderDiv td{
	text-align:right;
	cursor:pointer;
}

#sliderDiv .topBar img{
	cursor:pointer;
}
#sliderDiv .topBar div{
	float:left;
	margin-right:1px;
}