body {
	margin: 0;
	padding: 0;
	width: 800px;
	font-size: 90%;
	font-family: arial, helvetica, sans-serif;
}

img {
	border: 0px;
}

#header {
	background-color: #eaf1f7;
	width: 800px;
	height: 50px;
	font-size: 125%;
	text-align: center;
}

#login {
	width: 800px;
	background-image: url("imagens/reuni.jpg");
	background-position: top left;
	background-repeat: repeat;
}

#footer {
	clear: both;
	height: 15px;
	border-top: 1px solid #999;
	padding: .1em;
	text-align: right;
	font-size: 80%;
	background-color: #ffcc00;
}

a.legenda {
	font-family: arial, helvetica, sans-serif;
	font-size: 0.9em;
}

select,input {
	text-align: left;
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	vertical-align: middle;
	border: 2px #ffffff inset;
}

input.valores,select.valores {
	text-align: right;
	padding: 1px 3px 1px 3px;
}

input.valoresclsMouseFocus {
	text-align: right;
	background-color: #f2fafc;
}

select.normal,input.normal,input.text,input.password {
	border-bottom: 1px solid #cccccc;
}

input.erro {
	background-color: #ffeeee;
	border-bottom: 1px solid #ff0000;
}

input.disabled {
	text-align: right;
	color: #606060;
}

input.clsMouseOver {
	font-weight: bold;
}

select.clsMouseFocus, input.clsMouseFocus {
	background-color: #f0f0ff;
	border-bottom: 1px solid #0000ff;
}

.formbutton {
	text-align: center;
	cursor: pointer;
	border: solid 1px #04488f;
	color: #04488f;
	font-size: 1em;
	font-weight: bold;
	background: url(imagens/formbg.gif) repeat left top;
	font-family: arial, helvetica, sans-serif;
}

.aviso {
 	color: #FF0000;
 	font-weight: bold;
 	text-align: center;
}

.formbar {
	text-align: center;
	border: solid 0px;
	color: #04488f;
	font-size: 1em;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
}

table.formulario {
	empty-cells: show;
	border-width: 0px;
	border-style: solid;
	border-color: #04488f;
	border-collapse: collapse;
	font-family: arial, helvetica, sans-serif;
	font-size: 0.9em;
}

table.formulario th {
	border: 2px solid #04488f;
	padding: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #04488f;
	background-color: #04488f;
	color: #ffffff;
}

table.formulario th.valoresitens {
	background-color: transparent;
	border-width: 0px;
	color: #000000;
	border-left: 2px solid #04488f;
	padding: 5px;
	text-align: left;
	font-weight: normal;
}

table.formulario th.barrabotoes {
	background-color: transparent;
	border-width: 0px;
	border-top: 1px solid #04488f;
	border-bottom: 2px solid #04488f;
	border-left: 2px solid #04488f;
	border-right: 2px solid #04488f;
	color: #000000;
	padding: 5px;
	text-align: center;
	font-weight: normal;
}

table.formulario td {
	border-width: 0px;
	border-right: 2px solid #04488f;
	padding: 5px;
}

table.formulario td.formulario2 {
	border-width: 1px;
	border-style: solid;
	border-color: #04488f;
	padding: 2px;
}

table td.sistema {
	border-width: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: #04488f;
	color: #04488f;
}

table.formulario th.esp {
	background-color: transparent;
	padding: 1px;
	border: 0px;
	font-size: 0.2em;
}

table.formulario td.erroinfo {
	background-color: #FFF5F5;
	color: #FF0000;
	border-left: #FF0000 1px solid;
	border-top: #FF0000 1px solid;
	border-bottom: #FF0000 1px solid;
	border-right: #FF0000 1px solid;
	padding: 1px;
	font-size: 0.75em;
}

table.lista {
	border-spacing: 2px;
	empty-cells: show;
	/* border-collapse: collapse; */
	border-width: 0px;
	border-style: solid;
	border-color: #04488f;
	font-size: 0.75em;
}

table.lista th {
	padding: 1px 3px 1px 3px;
	border-top: #04488f 1px solid;
	border-bottom: #04488f 2px solid;
	border-left: #04488f 1px solid;
	border-right: #04488f 1px solid;
	background-color: #CCCCCC;
	color: #04488f;
	text-align: left;
}

table.lista th.valoresitens {
	padding: 1px 3px 1px 3px;
	border-top: #CCCCCC 2px solid;
	border-bottom: #CCCCCC 2px solid;
	border-left: #CCCCCC 2px solid;
	border-right: #CCCCCC 2px solid;
	background-color: #EEEEEE;
	color: #04488f;
	text-align: left;
}

table.lista th.valoresitenstotal {
	padding: 1px 3px 1px 3px;
	border-top: #CCCCCC 2px solid;
	border-bottom: #CCCCCC 2px solid;
	border-left: #CCCCCC 2px solid;
	border-right: #CCCCCC 2px solid;
	background-color: #EEEEEE;
	color: #000000;
	text-align: left;
}

table.lista th.valoresitenstotalr {
	padding: 1px 3px 1px 3px;
	border-top: #CCCCCC 2px solid;
	border-bottom: #CCCCCC 2px solid;
	border-left: #CCCCCC 2px solid;
	border-right: #CCCCCC 2px solid;
	background-color: #EEEEEE;
	color: #000000;
	text-align: right;
}

table.lista th.valoresitenstotalred {
	padding: 1px 3px 1px 3px;
	border-top: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
	background-color: #EEEEEE;
	color: #FF0000;
	text-align: right;
}

table.lista th.center {
	text-align: center;
}

table.lista th.right {
	text-align: right;
	padding: 1px 3px 1px 3px;
	background-color: #EEEEEE;
	border-top: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	border-right: #CCCCCC 1px solid;
}

table.lista td {
	background-color: #FEFEF5;
	border: #CCCCCC 1px solid;
	padding: 1px 3px 1px 3px;
}

table.lista td.normal {

}

table.lista td.erroinfo {
	background-color: #FFF5F5;
	color: #FF0000;
	border-left: #FF0000 3px solid;
	border-top: #FF0000 1px solid;
	border-bottom: #FF0000 1px solid;
	border-right: #FF0000 1px solid;
	padding: 2px 2px 2px 2px;
}

table.lista td.valores {
	text-align: right;
	background-color: #FEFEF5;
}

table.lista td.valoresclsMouseFocus {
	background-color: #f2fafe;
}

table.lista td.center {
	text-align: center;
}

table.lista td.right {
	text-align: right;
}

table.lista td.anos {
	text-align: center;
	font-weight: bold;
		background-color: #EEEEEE;
}

table.lista td.curso {
	text-align: center;
	font-size: 1.2em;
	border-bottom: #04488f 0px solid;
	padding: 3px 0px 3px 0px;
}

table.lista th.barrabotoes {
	border-width: 1px;
	background-color: #CCCCCC;
	text-align: center;
	padding: 5px;
}

table.lista th.esp {
	background-color: transparent;
	padding: 1px;
	border: 0px;
	font-size: 0.2em;
}

#menu {
	width: 800px;
}

#nav {
	text-align: right;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	border-width: 0px;
	border-bottom: #04488f 1px solid;
	background-color: #ffffff;
}

#nav li {
	margin: 0;
	padding: 0px;
	display: inline;
	list-style-type: none;
}

#nav a {
	margin: 0;
	padding: 0px;
	border: #04488f 1px solid;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

#nav a:link,#nav a:visited {
	color: #04488f;
	background-color: transparent;
}

#nav a.selected:link,#nav a.selected:visited {
	color: #ffffff;
	background-color: #04488f;
}

#nav a:hover,#nav a:active {
	color: #04488f;
	background-color: #76c5f0;
}

#nav a.selected:hover,#nav a.selected:active {
	color: #ffffff;
	background-color: #04488f;
}