.TituloTabela{
    background-color: #C5C5C5;
    font-weight:bold
}
.center{
    text-align:center
}
.link{
    cursor: pointer;
}
.middle{
    vertical-align: middle;
}

.listagem{
    font-size: 11px;
    padding: 3px;
    border-top: 2px solid #404040;
    border-bottom: 3px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
}
#dialogAjax{
    background-color:#ffffff;
    position:absolute;
    color:#000033;
    top:50%;
    left:40%;
    border:2px solid #cccccc;
    width:20%;
    font-size:12px;
    padding: 20px;
    line-height: 20px;
    display: none;
}