#example-content { text-align: center; }
#frame { background-color: #000; color: #fff; margin: 50px; width: 400px; height: 450px; padding: 50px; }
#image-area { width: 100%; border: 1px dotted #fff; padding-top: 50%; padding-bottom: 50%; margin-bottom: 15px; overflow:hidden; }

.hover { border: 1px solid #fff !important; }

.itemListaDiv{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EDF1F5;
    border-style: solid;
    border-width: 1px 0;
    font-size: 13px;
    list-style: none outside none;
    position: relative;
    color: #444444;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #555555;
/*    line-height: 32px;*/
    height: 90px;
    margin: 0 0 -1px;
    padding: 5px 6px;
    text-align: left;
    cursor:pointer;
}

.dscItemLista{
    width: 480px; 
    float: left;
    min-height: 40px;
    max-height: 40px;
}

.itemListaDiv:hover, .dscItemLista:hover{
    background: none repeat scroll 0 0 #FAFDFF;
    border-color: #C6D8E4;
    position: relative;
    z-index: 1;
    text-decoration: underline;
}

.itemListaDiv:active, .dscItemLista:active{
    background: none repeat scroll 0 0 #388EC8;
}

.itemListaDivSelected{
    background: none repeat scroll 0 0 #BBD9ED;
}

.itemListaDivSelected:hover, .itemListaDivSelected div:hover{
    background: none repeat scroll 0 0 #96C4EA;
}

.itemListaDiv a, .dscItemLista a{
    text-decoration: none;
    color: #555555;
}

.dataItemListaDiv{
    margin-right: 50px;
}

.dscItemLista a{
}	

.itemListaDiv img, .dscItemLista img{
    vertical-align: middle;	
    margin-right: 5px;
}

#caminho{
    border-color: #82CFFA #E7F2FB #96C4EA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
    background: none repeat scroll 0 0 #F0F9FF;
    color: #000000;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    padding: 10px;
}

#contetLista{
    border-color: #82CFFA #E7F2FB #96C4EA;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
}

#lista, #listaDrop {
    border: 0px;
}

#demo{
    background: none repeat scroll 0 0 #FFFFFF;    
    border-top: 0px;
    border-left: 0px;
}

#explorer{
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

#caminhoLista{
    border: 0px;
}

#cabecalho{
    background: repeat-x scroll 0 0 #F0F9FF;
    border-color: #82CFFA #E7F2FB #96C4EA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
}

#cabecalhoNome {
    width: 400px;
    float: left;
    color: #2281CF;
    font-size: 13px;
    font-weight: bold;
    margin-left: 27px;
    margin-top: 3px;
    cursor: default;
}

#cabecalhoData {
    float:right;
    color: #2281CF;
    font-size: 13px;
    font-weight: bold;
    margin-right: 38px;
    margin-top: 3px;
    cursor: default;
}

#cabecalhoModificado {
    float:right;
    color: #2281CF;
    font-size: 13px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 3px;
    cursor: default;
}

.itemPath{
    float:left;
}

.itemPath a:hover{
    text-decoration: underline;
    cursor:pointer;
}

.itemPathNext{
    float:left;
    width: 25px;
    text-align: center;
}

#demoResize{
    overflow-x:hidden;
    overflow-y:hidden;
    background: none repeat scroll 0 0 #FFFFFF;    
    border-color: #82CFFA #E7F2FB #96C4EA;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
}

#botoes #divEnviarArquivo, #botoes #divNovaPasta, #botoes #divExcluir, #botoes #divRenomear{
    float: left;
    margin-right: 3px;
}

#botoes #divEnviarArquivo img, #botoes #divNovaPasta img, #botoes #divExcluir  img, #botoes #divRenomear  img{
    cursor: pointer;
}

#cabecalho div:hover{
    text-decoration: underline;
    cursor: pointer;
}

.orderSelecionado{
    color: #000000 !important;
}


/* UPLOADER */
.qq-uploader { 
	position:relative; 
	width: 100%;
}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 32px; 
    height: 32px; 
    padding: 0px 0; 
    text-align:center;    
    border-bottom:1px solid #fff;
    color:#fff;
    background-image: url('./css/dropbox-icons/upload32x32.png');
    float: left;
    cursor: pointer;
}

.qq-upload-button-hover {
    background-image: url('./css/dropbox-icons/upload32x32.png');
}

.qq-upload-button-focus {
   outline:1px dotted black;
}

.qq-upload-drop-area {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    min-height: 70px; 
    z-index:2;
    background:#96C4EA; 
    text-align:center; 
}

.qq-upload-drop-area span {
    display:block; 
    position:absolute; 
    top: 50%; 
    width:100%; 
    margin-top:-8px; 
    font-size:16px;
    font-weight: bold;
}

.qq-upload-drop-area-active {
   background:#2281CF;
}

.qq-upload-list {
   margin:15px 35px; 
   padding:0; 
   list-style:disc;
}

.qq-upload-list li { 
   margin:0; 
   padding:0; 
   line-height:15px; 
   font-size:12px;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {
	display:inline-block; 
	background: url("./loading.gif"); 
	width:15px; 
	height:15px; 
	vertical-align:text-bottom;
    margin-right: 5px;
}

.qq-upload-failed {
	display:inline-block; 
	background: url("./error.png"); 
	width:16px; 
	height:16px; 
	vertical-align:text-bottom;
	margin-right: 5px;
}

.qq-upload-size,.qq-upload-cancel {
	font-size:11px;
}

.qq-upload-failed-text {
	display:none;
}
.qq-upload-fail .qq-upload-failed-text {
	display:inline;
}