@charset "utf-8";
/* CSS Document */

#logomarca {
	margin-left:25px;
	margin-right:auto;
	padding-left:140px;
	width: 320px;
	float:left;
	background-color: #FFF;
}

#sair {
	position:absolute;
	right:330px;
	top:35px;
}

#usuario {
	margin-left:auto;
	margin-right:auto;
	width:490px;
	height:62px;
	float:left;
	padding-top:35px;
	background-color: #FFF;
	color:#44a3bd;
}

.avaliacao{
	background-color:#f2f792;
}

.secao{
	background-color:#a8e272;
}

.pergunta{
	border-bottom:#09F 1px solid;
	background-color:#FFFFFF;
}

.resposta{
	background-color:#FFFFFF;
	border-left-color:#FFFFFF;
}

.Tabela{
	background-color:#FFF !important;
	border-color:none !important;
}

.SubTituloEsquerda{
	background-color:#FFF !important;
	border-color:none !important;
}

.rodape{
	border-top:#09F 1px solid;
}

input disable{
	background-color: #CCC;
	padding: 3px 5px;
}

.dtree{
	width:415px !important;
}