div.divUnclickableDraw
{
	overflow: none;
	z-index: 50;
	filter:alpha(opacity=25);
	-moz-opacity:.25;
	opacity:.25;
	background-color: #DDDDDD ; 
	position: absolute; 
	top: 0px; 
	left: 0px;
	width: 99%; 
	height: 99%; 
}
div.divQuestionContainer
{
	/*
	width:100%;
	text-align: center; 
	width: 100%; 
	height: 100%; 
	position: absolute; 
	bottom: 0px; 
	left: 0px;
	display: table;
	overflow: hidden;
	*/
	
}
.spanButtons
{
	display: inline;
	white-space: nowrap;
}
input.inputQuestionButton
{
	margin: 5px;
}
	

div.divQuestionPos
{
	position: absolute;  
	z-index: 101;
	/*
	#position: absolute;  
	_top: 50%;
*/
	display: table-cell; 
	vertical-align: middle;
}
div.divQuestion
{
/*
	#position: relative;  
	#top: -50%"
	bottom: 0px;
	*/
	text-aling: center;
	position: absolute;
	display: compact;	
}
div.divQuestionTitle
{
	text-align: left;
	background-color: blue;
	color: white;
	display: inline;
	white-space: nowrap;
	text-align: justify;
}
div.divQuestionDraw
{
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	background-color: #DDDDFF;
	display: compact;	
}
span.spanDescription
{
	display: compact;
}